<section class="fadeIn dashboard goals">
	<div class="col-xs-12 goal-section">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover" click-redirect="/retirementGoalsStarted">
				<div class="goals-cover">
						<div class="image-div">
							<img src="assets/images/retirement.png">
						</div>
				</div>
				<h2>Smart Deposit</h2>
				<p class="pull-left">Higher interest than FDs, with no lock-in and low risk.</p>
				<ul class="col-xs-12">
					<li><p>Invest in liquid funds and earn more on your money.</p></li>
					<li><p>No lock-in, Zero penalty on premature withdrawal</p></li>
					<li><p>Fast 1-day withdrawal to your bank account</p></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 bottom-desc">
		<div class="fin-btn-group addMargin text-left">
            <button click-redirect="/planInvest" class="fin-link-btn content-prev text-left"><span><img src="assets/images/startedArrow.png"></span>CONTINUE PLANNING</button>
            <button click-redirect="/dashboard" class="fin-app-btn fin-orange">CONTINUE</button>
        </div>
	</div>
</section>