<section class="fadeIn dashboard goals">
	<div class="col-xs-12 goal-section">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
						<div class="image-div">
							<img src="assets/images/earnhigherinterest_transparent.png">
						</div>
				</div>
				<h2>Smart Deposit</h2>
				<p class="pull-left">Higher interest than FDs, with no lock-in and low risk.</p>
				<ul class="col-xs-12">
					<li><p>Invest in liquid funds and earn higher returns on your money than Fixed deposit</p></li>
					<li><p>Withdraw anytime - No lock-in/Zero penalty</p></li>
					<li><p>Fast 1 day withdrawal - Get your money in your bank account the next day</p></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-5 col-sm-7 col-md-7 bottom-desc">
		<div class="fin-btn-group addMargin text-left">
            <button click-redirect="/planInvest" class="fin-link-btn content-prev text-left"><span><img src="assets/images/startedArrow.png"></span>CONTINUE PLANNING</button>
            <button click-redirect="/earnInterest" class="fin-app-btn fin-orange">CONTINUE</button>
        </div>
	</div>
</section>