#equiDeptModal{
	.modal-dialog{
		width:35%;
		@media @below768{
			width: 100%;
			position: relative;
		}
		.modal-wrapper{
			padding:2% 5% 6% 5%;
			h2{
				font-family:'PlayfairDisplay-Regular';
				.PIXEL2EM(24);
			}
			.calendar-cover{
				border:1px solid #e2e7ec;
				box-shadow:none;
			}
			
			.bottom-desc{
				text-align:center;
				padding-top:6%;
				span{
					&.currency{
						font-family:'PlayfairDisplay-Regular';
						margin-right:3px;
					}
					&.amount-cover{
						display:inline-block;
						float:right;
						&.less{
							color:#da2128;
						}
					}
					&.amount{
						text-align:right;
					}
				}	
				p{
					line-height:19px;
					margin-bottom: 4%;
					width:62%;
					margin-left:auto;
					margin-right:auto;
					.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@black,normal);
	            	.PIXEL2EM(24);
	            	text-align:center;
	            	&.note{
	            		width:100%;
	            		.GLOBAL_FONT_STYLE('Roboto-Regular',#ca1e24,normal);
	            		.PIXEL2EM(16);
	            	}
				}
				.fin-app-btn{
					float:none;
					margin-top:1%;
				}
			}			
		}		
	}	
}

#withdrawModal{
	.modal-dialog{
		width:50%;
		.modal-content{
			width:100%;
			h4{
				.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@black,normal);
	            .PIXEL2EM(20);
			}
		}
		.modal-wrapper{
			padding:2% 5% 6% 5%;
			.withdrawModalTable{
				width:100%;
				height:220px;
				padding-bottom:5%;
				padding-left:0px;
				box-shadow:none;
				background:none;
				.mCustomScrollBox{
					max-height:none!important;
				}
				.mCSB_2_container_wrapper{
					margin-bottom:0px;
				}
				.seperate-cover{
					width:96%;
				}
				.thead{
					width:96%;
					.th{
						&:nth-child(1){
							width:40%;
							float:left;
						}
						&:nth-child(2){
							width:20%;
							float:left;
						}
						&:nth-child(3){
							width:20%;
							float:left;
						}
						&:nth-child(4){
							width:20%;
							float:left;
						}
					}
				}
				.tbody{
					.td{
						&:nth-child(1){
							width:40%;
							float:left;
						}
						&:nth-child(2){
							width:20%;
							float:left;
						}
						&:nth-child(3){
							width:20%;
							float:left;
						}
						&:nth-child(4){
							width:20%;
							float:left;
						}
					}
				}
			}
			.tfooter{
				p{
					float:left;
					.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@black,normal);
	            	.PIXEL2EM(30);
				}
				.fin-btn-group{
					width:50%;
					float:right;
					.fin-app-btn{
						width:36%;
						float:right;
						&:first-child{
							margin-left: 10px;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}

.goal-ngdialog-overlay{
	.ngdialog-content{
			background:none !important;
				.error-popup-container{

    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  
    border-radius: 6px;
    outline: 0;
   
   
.erorr-popup-wrapper {
    float: left;
    width: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-image: -moz-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
    -webkit-box-shadow: 2.5px 4.33px 10px 0px #247abc;
    -moz-box-shadow: 2.5px 4.33px 10px 0px #247abc;
    box-shadow: 2.5px 4.33px 10px 0px #247abc;
    padding: 16% 10% 8% 10%;
    .login-header {
    	img{
    		width:100%;
    	}
    	.cloud1{
    		    top: 0px;
    			left: 3%;

    	}
    	.cloud2{
    		    bottom: -30%;
			    left: 0;
			    right: 0;
			    margin: auto;
    	}
    	.cloud2, .cloud1 {
		       position: absolute;
    			width: 20%;

    	}
    	.plane{
    		width: 38%;
    	}
    	p{
		    font-family: 'PlayfairDisplay-Regular';
		    color: #101010;
		    font-weight: normal;
		    font-size: 1.5em;
		    margin-left: 10%;
		    margin-top: 9%;
		}
    }
    .fin-app-btn {
    	font-size: 0.75em;
    }
}
.settings_wrapper{
	.login-form{
		margin-top: 45px;
	    width: 100%;
	    float: left;
	    .form-group {
	    	label{
	    	
	    	    
			    pointer-events: none;
			    /* top: -4px; */
			    font-family: 'PlayfairDisplay-Regular';
			    color: #247abc;
			    font-weight: normal;
			    font-size: 1.5em;
			    /* -webkit-transition: all 0.2s ease; */
			    -o-transition: all 0.2s ease;
			    -moz-transition: all 0.2s ease;
			    /* transition: all 0.2s ease; */
			    opacity: 0.6;
			    letter-spacing: 0px;
	    	}
	    	span.normal{
	    		color: #dad6d6!important;
	    		float: left;
	    	}
	    	span.without-error{
	    		position: relative!important;
			    width: 100%!important;
			    float: left;
			    color: #dad6d6;
			    span.correct{
			    	width: 5%;
			    	float: left;
			    	&:after{
		    		    content: '\2713';
	    				font-size: 1.5em;
			    	}
			    }
	    	}
	    	span.error-text{
    		    position: relative!important;
			    color: #f24965;
			    width: 100%!important;
			    float: left;
			    span.wrong{
			    	width: 5%;
			    	float: left;
			    	&:after{
		    		    content: '\00d7';
	    				font-size: 1.5em;
			    	}
			    }
	    	}
	    }


	    
	    .form-group:nth-child(2){
	    	margin-bottom: 6%;
	    }
	}
}

    		}
	}
	
}