.table-outer-cover{
	width:50%;
	float:left;
	padding:3% 3%;
	background-image: -moz-linear-gradient( 90deg, rgb( 245, 245, 245 ) 0%, rgb( 255, 255, 255 ) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb( 245, 245, 245 ) 0%, rgb( 255, 255, 255 ) 100%);
  	box-shadow: 1px 5.33px 11px -4px rgb( 4, 123, 193 );
  	border-radius:35px;
	.thead{
		width:100%;
		float:left;
		padding-bottom:1%;
		.tr{
			width:100%;
			float:left;
			.th{
				.GLOBAL_FONT_STYLE('Roboto-Regular',@black,normal);
				.PIXEL2EM(16);
				opacity:0.5;
				float:left;
				p{
					margin-bottom:0px;
					&.no-text{
						opacity:0;
					}
				}
			}
		}
	}
	.tbody{
		width:100%;
		float:left;
		.tr{
			width:100%;
			float:left;
			padding:3% 0px;
			.td{
				float:left;
				p{
					font-family:'PlayfairDisplay-Regular';
					color:@black;
					font-weight:normal;
					margin-bottom:0px;
					.PIXEL2EM(18);
					&.schemes{
						color:@lochmaraapprox;
						cursor:pointer;
					}
				}
			}	
			&:not(:last-child){
				border-bottom:1px solid #e0e0e0;
			}
		}
	}
	.tfooter{
		.fin-app-btn:not(.fin-skip-btn){
			float:right!important;
			width:auto;
			min-width:177px;
			padding:16px;
		}
		.fin-skip-btn{
			background-image: -moz-linear-gradient( 90deg, rgb( 245, 245, 245 ) 0%, rgb( 255, 255, 255 ) 100%, rgb( 255, 255, 255 ) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb( 245, 245, 245 ) 0%, rgb( 255, 255, 255 ) 100%, rgb( 255, 255, 255 ) 100%);
			box-shadow: 0px 1px 2px 0px rgb( 36, 122, 188 );
			width:auto;
			min-width:177px;
			padding:16px;
			margin-right:5%;
			&:hover{
				box-shadow: 1px 5.33px 11px -4px rgb( 36, 122, 188 );
			}
		}
	}
	&.schemeTable{
		width:75%;
		@media @below768{
			width:100%;
		}
		.thead{
			.th{
				&:nth-child(1){
					width:32%;
					float:left;
				}
				&:nth-child(2){
					width:28%;
					float:left;
				}
				&:nth-child(3){
					width:20%;
					float:left;
				}
				&:nth-child(4){
					width:20%;
					float:left;
				}
			}
		}
		.tbody{
			.td{
				&:nth-child(1){
					width:32%;
					float:left;
				}
				&:nth-child(2){
					width:28%;
					float:left;
				}
				&:nth-child(3){
					width:20%;
					float:left;
				}
				&:nth-child(4){
					width:20%;
					float:left;
				}
			}
		}
	}
	&.compareTable{
		width:75%;
		@media @below768{
			width: 100%;
		}
		.seperate-cover{
			width:100%;
			float:left;
			overflow-x:hidden!important;
			overflow-y:auto;
			height:300px;
		}		
		.thead{
			.th{
				&:nth-child(1){
					width:10%;
					float:left;
				}
				&:nth-child(2){
					width:10%;
					float:left;
				}
				&:nth-child(3){
					width:30%;
					float:left;
					@media @below768{
						width: 38%;
					}
				}
				&:nth-child(4){
					width:17%;
					float:left;
					@media @below768{
						width: 22%;
					}
				}
				&:nth-child(5){
					width:25%;
					float:left;
					@media @below768{
						width: 18%;
					}
				}
			}
		}
		.tbody{
			.tr{
				padding-bottom:0px;
			}
			.td{
				&:nth-child(1){
					width:10%;
					float:left;
				}
				&:nth-child(2){
					width:10%;
					float:left;
				}
				&:nth-child(3){
					width:30%;
					float:left;
					@media @below768{
						width: 38%;
					}
				}
				&:nth-child(4){
					width:17%;
					float:left;
					@media @below768{
						width:24%;
					}
				}
				&:nth-child(5){
					width:25%;
					float:left;
					@media @below768{
						width: 8%;
					}
				}
				.delete-cover{
					cursor:pointer;
					position:relative;
					top:-4px;
					display:table;
					text-align:center;
					transition:all 0.2s ease;
					width:30px;
					height:30px;
					border-radius:50%;
					background-color: rgb( 241, 102, 37 );
  					box-shadow: 0px 0px 1px 0px rgb( 242, 101, 41 );
  					&:hover{
  						box-shadow: 0px 2px 4px 0px rgb( 242, 101, 41 );
  					}
  					.image-div{
  						display:table-cell;
  						vertical-align:middle;
  					}
  					img{
  						width:45%;
  					}
  					@media @below768{
  						height: 20px;
  						width:20px;
  					}
				}
				.add-cover{
					cursor:pointer;
					position:relative;
					top:-4px;
					display:table;
					text-align:center;
					transition:all 0.2s ease;
					width:30px;
					height:30px;
					border-radius:50%;
					background-color:#047bc1;
					box-shadow: 0px 0px 1px 0px rgb( 36, 122, 188 );
  					&:hover{
  						box-shadow: 0px 2px 4px 0px rgb( 36, 122, 188 );
  					}
  					.image-div{
  						display:table-cell;
  						vertical-align:middle;
  					}
  					img{
  						width:45%;
  					}
  					@media @below768{
  						height: 20px;
  						width:20px;
  					}
				}
				input[type="checkbox"]{
					+ label{
						span{
							border-radius:12px;
							@media @below768{
								height: 20px;
								width: 20px;
							}
						}
					}
				}
			}
		}
		.tfooter{
			float:left;
			width:100%;
			padding-top: 4%;
			.fin-link-btn{
				padding-top: 6px;
				padding-bottom: 1px;
				span{
					img{
						width:68%;
					}
				}
			}
		}
	}
	&.investNowTable{
		width:100%;
		@media @below768{
			min-width: 400px;
			
		}
		.seperate-cover{
			width:100%;
			float:left;
			height:200px;
		}
		.thead{
			width:96%;
			.th{
				width:20%;
			}
		}
		.tbody{
			width:96%;
			.td{
				width:20%;
			}
		}
		.tfooter{
			border-top:1px solid #e0e0e0;
			width:96%;
			float:left;
			padding-top: 10px;
			padding-bottom: 10px;
			.total{
				float:left;
				width:60%;
			}
			.sipTotal{
				width:20%;
				float:left;
			}
			.lumpSumTotal{
				width:20%;
				float:left;
			}
		}
	}
	&.finGoalStatusTable{
	    width: 100%;
	    background: none;
	    border: none;
	    border-radius: 0;
	    box-shadow: none;
	    padding:0;
	    margin-top: 8%;
	    .debt_percent {
	    	color: #cb624d!important;
	    	padding-right:6px;
	    }
	    .equity_percent {
	    	color: #62bb46!important;
	    }
	    .thead {
	    	padding-bottom: 0;
	    }
	    .tbody .tr {
	    	padding:0;
	    }
	}
	&.reviewInvest{
		width:100%;
		margin-bottom:5%;
		.seperate-cover{
			width:100%;
			float:left;
			height:250px;
			h4{
				.PIXEL2EM(18);
				margin-bottom:20px;
			}
		}
		.thead{
			width:96%;
			.th{
				&:nth-child(1){
					width:40%;
				}
				&:nth-child(2){
					width:20%;
				}
				&:nth-child(3){
					width:20%;
				}
				&:nth-child(4){
					width:20%;
				}
			}
		}
		.tbody{
			width:96%;
			.td{
				&:nth-child(1){
					width:40%;
				}
				&:nth-child(2){
					width:20%;
				}
				&:nth-child(3){
					width:20%;
				}
				&:nth-child(4){
					width:20%;
				}
			}
		}
		.tfooter{
			border-top:1px solid #e0e0e0;
			width:96%;
			float:left;
			padding-top: 10px;
			padding-bottom: 10px;
			.total{
				float:left;
				width:60%;
			}
			.sipTotal{
				width:20%;
				float:left;
			}
			.lumpSumTotal{
				width:20%;
				float:left;
			}
		}
	}
	&.withdraw{
		width:100%;
		margin-bottom:5%;
		.seperate-cover{
			width:100%;
			float:left;
			height:300px;
			h4{
				.PIXEL2EM(18);
				margin-bottom:20px;
			}
		}
		.thead{
			width:96%;
			.th{
				&:nth-child(1){
					width:25%;
				}
				&:nth-child(2){
					width:25%;
				}
				&:nth-child(3){
					width:10%;
				}
				&:nth-child(4){
					width:20%;
				}
				&:nth-child(5){
					width:16%;
				}
			}
		}
		.tbody{
			width:96%;
			.tr{
				padding:1% 0px;
			}
			.td{
				&:nth-child(1){
					width:25%;
				}
				&:nth-child(2){
					width:25%;
				}
				&:nth-child(3){
					width:10%;
				}
				&:nth-child(4){
					width:20%;
				}
				&:nth-child(5){
					width:16%;
				}
			}
			.checkbox-cover{
				label{
					span{
						margin-right:0px;
					}
				}
			}
			.input-cover{
				width:100%;
				float:left;
				position:relative;
				span{
					&.currency{
						position:absolute;
						top:4px;
					}
				}
			}
			
			input[type="text"]{
				.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@marinerapprox,normal);
				.PIXEL2EM(20)!important;
				width:100%;
				border:none;
				outline:none;
				background-image: linear-gradient(to right, @marinerapprox 25%, rgba(255,255,255,0) 0%);
				background-position: bottom;
				background-size: 6px 2px;
				background-repeat: repeat-x;
				background-color:transparent;
				padding-left:12px;
				padding-bottom:5px;
				text-align:left;
			}
			
		}
		.tfooter{
			border-top:1px solid #e0e0e0;
			width:96%;
			float:left;
			padding-top: 10px;
			padding-bottom: 10px;
			p{
				.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@black,normal);
				.PIXEL2EM(18);
			}
			.total{
				float:left;
				width:48%;
			}
			.sipTotal{
				width:29%;
				float:left;
			}
			.lumpSumTotal{
				width:20%;
				float:left;
			}
		}
	}
	&.table-full-width{
		width:100%;
		h3{
			font-family: 'PlayfairDisplay-Regular';
		    color: #000;
		    font-weight: normal;
		    font-size: 1.125em;
		    opacity: 0.5;
		    margin-top: 0px;
		    margin-bottom: 20px;
		}
	}
}
.table-seperate{
	width: 95%;
	float: left;
	padding-bottom:2%;
	padding-top:2%;
	&:not(:last-child){
		border-bottom:2px solid #e1e1e1;
	}
	.tr{
		border:none!important;
	}
	@media @below768{
		width: 100%;
		font-size:8px;
	}
}
.mCSB_scrollTools_horizontal{
	display:none!important;
}
.table{
	width:100%;
	float:left;
	.thead{
		width:100%;
		float:left;
		padding-bottom:1%;
		.tr{
			width:100%;
			float:left;
			.th{
				.GLOBAL_FONT_STYLE('Roboto-Regular',@black,normal);
				.PIXEL2EM(16);
				opacity:0.5;
				float:left;
				p{
					margin-bottom:0px;
				}
			}
		}
	}
	.tbody{
		width:100%;
		float:left;
		.tr{
			width:100%;
			float:left;
			padding:3% 0px;
			.td{
				float:left;
				p{
					font-family:'PlayfairDisplay-Regular';
					color:@black;
					font-weight:normal;
					margin-bottom:0px;
					.PIXEL2EM(18);
					&.schemes{
						color:@lochmaraapprox;
						cursor:pointer;
					}
				}
			}	
			&:not(:last-child){
				border-bottom:1px solid #e0e0e0;
			}
		}
	}
	.tfooter{
		.fin-app-btn:not(.fin-skip-btn){
			float:right!important;
			width:auto;
			min-width:177px;
			padding:16px;
		}
		.fin-skip-btn{
			background-image: -moz-linear-gradient( 90deg, rgb( 245, 245, 245 ) 0%, rgb( 255, 255, 255 ) 100%, rgb( 255, 255, 255 ) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb( 245, 245, 245 ) 0%, rgb( 255, 255, 255 ) 100%, rgb( 255, 255, 255 ) 100%);
			box-shadow: 0px 1px 2px 0px rgb( 36, 122, 188 );
			width:auto;
			min-width:177px;
			padding:16px;
			margin-right:5%;
			&:hover{
				box-shadow: 1px 5.33px 11px -4px rgb( 36, 122, 188 );
			}
		}
	}
	&.schemeCompareTable{
		margin-bottom:0px;
		.thead{
			.tr{
				.th{
					width:33%;
				}
			}
		}
		.tbody{
			.tr{
				padding-top:3px;
				.td{
					width:33%;
				}
			}
		}
	}
}

.money-value{
	h4{
		.GLOBAL_FONT_STYLE('Roboto-Regular',@black,normal);
		.PIXEL2EM(16);	
		opacity: 0.7;
	}
	p{
		.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@black,normal);
		.PIXEL2EM(24);
	}
	.types{
		.GLOBAL_FONT_STYLE('PlayfairDisplay-Regular',@black,normal);
		.PIXEL2EM(24);
		&.gain{
			color:#80c342!important;
			position: relative;
			padding-left: 16px;
			line-height: 14px;
			margin-bottom: 0px;
			&:after{
				content:'';
				position: absolute;
				left:0px;
				bottom: 0px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 6px solid #80c342!important;

			}
		}
		&.loss{
			color:#f26529!important;
			position: relative;
			padding-left: 16px;
			line-height: 14px;
			margin-bottom: 0px;
			&:after{
				content:'';
				position: absolute;
				left:0px;
				bottom: 0px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 6px solid #f26529!important;

			}
		}
	}
}