<section class="fadeIn dashboard">
<h1 class="text-center">What would you like to do next?</h1>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover" click-redirect="/riskAssesment">
						<div class="image-div">
							<img class="img img-responsive" src="assets/images/riskassessmentMain.png">
						</div>
					<!-- <div class="checkbox-cover" ng-if="user_flags.risk_score">
						<input type="radio" name>
						<label><span></span></label>
					</div> -->
				</div>
				<h2>Risk Assessment</h2>
				<p class="text-center desc">Your risk assessment based on a few simple questions helps us give you more customized advice.</p>
				<div ng-if="risk_score">
					<h3 class="text-center">Your current risk score is</h3>
					<p class="text-center score">{{risk_score}}</p>
					<h4 class="text-center">{{riskType}} taker</h4>
				</div>

				<div ng-if="!risk_score">
					<h4 class="text-center">You currently have no risk score</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover" click-redirect="/planInvest">
					<div class="image-div invest-goal">
						<img class="" src="assets/images/invest.png">
					</div>
					<!-- <div class="checkbox-cover" ng-if="portfolio_flag">
						<input type="radio" name>
						<label><span></span></label>
					</div> -->
				</div>
				<h2>Plan &amp; Invest</h2>
				<p class="text-center desc">Investments should be linked to financial goals. We help you plan for these goals scientifically.</p>
				<!-- <h3 class="text-center" ng-if="!portfolio_flag">You currently have no planned</h3>
				<h3 class="text-center" ng-if="portfolio_flag">You currently have planned</h3>
				<p class="text-center score" ng-bind="dashCounts['investCount']"></p> -->
				<h4 class="text-center" ng-if="portfolio_flag"><span class="highlight">{{dashCounts['investCount']}}</span> goals under planning</h4>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover" >
				<div class="goals-cover" ng-click="showTrackPerformance()" ng-if="!disabledTrackPerformance">
					<div class="image-div">
						<img class="img img-responsive" src="assets/images/dashboardImage4.png">
					</div>
					<!-- <div class="checkbox-cover" ng-if="!user_flags.is_virtual">
						<input type="radio" name>
						<label><span></span></label>
					</div> -->
				</div>

				<div class="goals-cover goals-cover-disabled" ng-if="disabledTrackPerformance">
					<div class="image-div">
						<img src="assets/images/dashboardImage4.png">
					</div>
				</div>
				<h2>Track Investments</h2>
				<p class="text-center desc">View the real time status of your actual or planned investments.</p>
				<!-- <h3 class="text-center">Your financial goals are</h3>
				<p class="text-center score text-score" ng-if="dashCounts['trackPerform']">on track</p>
				<p class="text-center score text-score" ng-if="!dashCounts['trackPerform']">off track</p> -->
				<!-- <h4 class="text-center" ng-if="user_flags.is_virtual">You don't have a smart portfolio yet</h4>
				<h4 class="text-center" ng-if="!user_flags.is_virtual">You have a smart portfolio</h4> -->
				<h4 class="text-center" ng-if="!user_flags.is_virtual">Track your</h4>
				<p class="text-center score dashboardSubText no-margin" ng-if="!user_flags.is_virtual">CURRENT INVESTMENTS</p>
				
				<h4 class="text-center" ng-if="user_flags.is_virtual">Track how your</h4>
				<p class="text-center score dashboardSubText no-margin" ng-if="user_flags.is_virtual">PLANNED GOALS</p>
				<h4 class="text-center" ng-if="user_flags.is_virtual">would grow if invested</h4>

				<h4 class="text-center" ng-if="disabledTrackPerformance">You have</h4>
				<p class="text-center score dashboardSubText no-margin" ng-if="disabledTrackPerformance">NO CURRENT INVESTMENTS OR PLANNED GOALS.</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover" ng-click="goToWithdraw()">
					<div class="image-div">
						<img class="" src="assets/images/withdraw.png">
					</div>
					<!-- <div class="checkbox-cover" ng-if="user_flags.invest_redeem">
						<input type="radio" name>
						<label><span></span></label>
					</div> -->
				</div>
				<h2>Withdraw</h2>
				<p class="text-center desc">Redeem your investments anytime anywhere with a few simple clicks.</p>
				<!-- <h3 class="text-center">Your current risk score is</h3> -->
<!-- 				<p class="text-center score">5.7</p>
			<h4 class="text-center" ng-if="portfolio_flag">You havent started building<span class="nextline">your smart profile yet</span></h4> -->
			<h4 class="text-center" ng-if="portfolio_flag">Withdraw now from your</h4>
			<p class="text-center score dashboardSubText" ng-if="portfolio_flag">CURRENT INVESTMENTS.</p>
			<h4 class="text-center" ng-if="!portfolio_flag">You have</h4>
			<p class="text-center score dashboardSubText" ng-if="!portfolio_flag">NO CURRENT INVESTMENTS</p>
			</div>
			
		</div>
	</div>
</section>