<section class="fadeIn planinvest">
	<h1 class="text-center">What is your investment objective today?</h1>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 invest-outer-cover">
				<div class="investCover has-covered">
					<div class="cloud1"><img src="assets/images/login_cloud1.png"></div>
					<div class="cloud2"><img src="assets/images/login_cloud2.png"></div>
					<div class="checkbox-cover">
						<input type="radio" name>
						<label><span></span></label>
					</div>
					<div class="image-div">
						<img src="assets/images/planInvestMent.png">
					</div>	
					<button click-redirect="/quickInvestStart" class="fin-app-btn fin-blue full-width">Quick Invest</button>				
				</div>
				<div class="col-xs-12 desc">
					<p class="text-center">Simply Build Wealth through monthly<span class="nextline">SIP or one-time lumpsum investment or both.</span></p>
					<h3 class="text-center">1.74 Lakh annual investment</h3>
					<h4 class="text-center">in Quick Invest</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 invest-outer-cover">
				<div class="investCover">
					<div class="checkbox-cover">
						<input type="radio" name>
						<label><span></span></label>
					</div>
					<div class="image-div">
						<img src="assets/images/specifyGoals.png">
					</div>
					<button click-redirect="/goals" class="fin-app-btn fin-blue full-width">Set Financial Goals</button>
				</div>
				<div class="col-xs-12 desc">
					<p class="text-center">Save for a financial goal like Retirement,<span class="nextline">Education, Vacation, etc.</span></p>
					<h3 class="text-center">1.74 Lakh annual investment</h3>
					<h4 class="text-center">in Specific Goals</h4>
				</div>				
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 invest-outer-cover">
				<div class="investCover">
					<div class="checkbox-cover">
						<input type="radio" name>
						<label><span></span></label>
					</div>
					<div class="image-div">
						<img src="assets/images/saveTax.png">
					</div>
					<button click-redirect="/taxsavingStarted" class="fin-app-btn fin-blue full-width">Save Taxes</button>
				</div>
				<div class="col-xs-12 desc">
					<p class="text-center">Invest in Equity Linked Savings Schemes<span class="nextline">(ELSS) and save taxes under section</span><span class="nextline">80C.</span></p>
					<h3 class="text-center">1 Lakh annual</h3>
					<h4 class="text-center">Tax Saved</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 invest-outer-cover">
				<div class="investCover">
					<div class="checkbox-cover">
						<input type="radio" name>
						<label><span></span></label>
					</div>
					<div class="image-div">
						<img src="assets/images/highInterest.png">
					</div>
					<button class="fin-app-btn fin-blue full-width">Earn Higher Interest</button>
				</div>
				<div class="col-xs-12 desc">
					<p class="text-center">Conveniently park your money in<span class="nextline">smarter mutual fund alternatives than</span><span class="nextline">traditional bank accounts.</span></p>
					<h3 class="text-center">1.74 Lakh annual investment</h3>
					<h4 class="text-center">to Earn Higher Interest</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 bottom-desc">
		<p class="text-center">I am done planning my investments.</p>
		<div class="fin-btn-group">
			<button class="fin-app-btn fin-orange">INVEST NOW</button>
		</div>
		<h4 class="text-center pull-left full-width">VIEW PASS GOALS</h4>
	</div>
</section>
