<section class="fadeIn dashboard goals">
	<div class="col-xs-12 goal-section">
		<div class="">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover" >
				<div class="goals-cover">
					<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['retirement']">
						<label><span ng-click="deleteGoal('retirement')"></span></label>
						
					</div>
						<div class="image-div" ng-click=startGoalAdd('retirement')>
							<img src="assets/images/retirement.png">
						</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['retirement']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Retirement</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
				<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['education']">
						<label><span ng-click="deleteGoal('education')"></span></label>
						
					</div>
					<div class="image-div" ng-click=startGoalAdd('education')>
						<img src="assets/images/education.png">
					</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['education']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Education</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
				<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['property']">
						<label><span ng-click="deleteGoal('property')"></span></label>
						
					</div>
					<div class="image-div" ng-click=startGoalAdd('property')>
						<img src="assets/images/property.png">
					</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['property']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Property</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
				<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['automobile']">
						<label><span ng-click="deleteGoal('automobile')"></span></label>
						
					</div>
					<div class="image-div" ng-click=startGoalAdd('automobile')>
						<img src="assets/images/automobile.png">
					</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['automobile']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Automobile</h2>
			</div>
		</div>
	</div>
	<div class="col-xs-12 goal-section">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
						<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['vacation']">
						<label><span ng-click="deleteGoal('vacation')"></span></label>
						
					</div>
						<div class="image-div" ng-click=startGoalAdd('vacation')>
							<img src="assets/images/vacation.png">
						</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['vacation']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Vacation</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
				<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['wedding']">
						<label><span ng-click="deleteGoal('wedding')"></span></label>
						
					</div>
					<div class="image-div" ng-click=startGoalAdd('wedding')>
						<img src="assets/images/wedding.png">
					</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['wedding']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Wedding</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
				<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['jewellery']">
						<label><span ng-click="deleteGoal('jewellery')"></span></label>
						
					</div>
					<div class="image-div" ng-click=startGoalAdd('jewellery')>
						<img src="assets/images/jewellery.svg">
					</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['jewellery']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Jewellery</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
				<div class="checkbox-cover-delete" ng-if="$root.goalAnswered['event']">
						<label><span ng-click="deleteGoal('event')"></span></label>
						
					</div>
					<div class="image-div" ng-click=startGoalAdd('event')>
						<img src="assets/images/others.png">
					</div>
					<div class="checkbox-cover" ng-if="$root.goalAnswered['event']">
						<input type="radio" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Others</h2>
			</div>
		</div>	
	</div>
	<div class="col-xs-12 bottom-desc">
		<p class="text-left">I am done setting my goals.</p>
		<div class="no-padding col-xs-12 col-sm-10 col-md-6 col-lg-4">
			<div class="fin-btn-group addMargin text-left">
	            <button click-redirect="/planInvest" class="fin-link-btn content-prev text-left"><span><img src="assets/images/startedArrow.png"></span>CONTINUE PLANNING</button>
	            <button ng-click="goToInvest()" class="fin-app-btn fin-orange">CONFIRM & PAY</button>
	        </div>
	    </div>
	</div>
</section>