<section class="fadeIn dashboard goals">
	<div class="col-xs-12 goal-section">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover" click-redirect="/retirementGoalsStarted">
				<div class="goals-cover">
						<div class="image-div">
							<img src="assets/images/retirement.png">
						</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Retirement</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover" click-redirect="/planInvest">
					<div class="image-div">
						<img src="assets/images/education.png">
					</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Education</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
					<div class="image-div">
						<img src="assets/images/property.png">
					</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Property</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
					<div class="image-div">
						<img src="assets/images/automobile.png">
					</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Autmobile</h2>
			</div>
		</div>
	</div>
	<div class="col-xs-12 goal-section">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
						<div class="image-div">
							<img src="assets/images/vacation.png">
						</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Vacation</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover" click-redirect="/planInvest">
					<div class="image-div">
						<img src="assets/images/wedding.png">
					</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Wedding</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 goals-outer-cover">
				<div class="goals-cover">
					<div class="image-div">
						<img src="assets/images/others.png">
					</div>
					<div class="checkbox-cover">
						<input type="checkbox" name>
						<label><span></span></label>
					</div>
				</div>
				<h2>Others</h2>
			</div>
		</div>
	</div>
	<div class="col-xs-12 bottom-desc">
		<p class="text-left">I am done setting my goals.</p>
		<div class="fin-btn-group addMargin text-left">
            <button click-redirect="/quickInvestStart" class="fin-link-btn content-prev text-left"><span><img src="assets/images/startedArrow.png"></span>CONTINUE PLANNING</button>
            <button click-redirect="/dashboard" class="fin-app-btn fin-orange">CONTINUE TO FUND SELECTION</button>
        </div>
	</div>
</section>