<section class="fadeIn register">
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div class="row">
      <div class="col-xs-12">
      	<div class="row">
      		<div class="col-xs-10">
	      		<div class="contact-form">
	      			<form name="registerForm" novalidate>
	      				<div class="form-group">
	      					<div class="col-xs-2">
	      						<div class="row">
		      						<select dropdown ng-model="prefix"><option selected value="+91">+91</option><option value="+71">+71</option></select>
	      						</div>
	      					</div>
	      					<div class="col-xs-offset-1 col-xs-9">
		      					<div class="row">
									<input ng-class="{'has-error':registerForm.phone.$error.pattern}" type="text" ng-pattern="/^[0-9]+$/" name="phone" maxLength="10" ng-model="register.phone_number" required>
									<label>Phone No.</label>
									<span class="error-text" ng-show="registerForm.phone.$error.pattern">Please enter valid number</span>
								</div>
	      					</div>	      					
	      				</div>
	      				<div class="form-group">
	      					<input type="text" ng-class="{'has-error':registerForm.email.$error.pattern}" ng-pattern="/^[_A-Za-z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[A-Za-z]{2,4})$/" name="email" ng-model="register.email" required>
	      					<label>Email</label>
	      					<span class="error-text" ng-show="registerForm.email.$error.pattern">Please enter valid email</span>
	      				</div>
	      				<div class="form-group">
							<div class="col-xs-12 password-cover" ng-init="defaultType1 = 'password'">
								<div class="row">
									<input ng-class="{'has-error':registerForm.password.$error.pattern}" type="{{defaultType1}}" ng-model="register.password" check-password name="password" required>
									<label>Password</label>
									<span class="show-password"><img src="assets/images/showPassword.png" ng-click="((defaultType1 =='password')?defaultType1 ='text':defaultType1 = 'password')"></span>
								        <span class="without-error" ng-class="{'error-text':registerForm.password.$error.oneNumber,'normal':reset}"><span ng-if="registerForm.password.$error.oneNumber" class="wrong"></span><span ng-if="!registerForm.password.$error.oneNumber" class="correct"></span>Please enter atleast one number</span>
								        <span class="without-error" ng-class="{'error-text':registerForm.password.$error.oneUpper,'normal':reset}"><span ng-if="registerForm.password.$error.oneUpper" class="wrong"></span><span ng-if="!registerForm.password.$error.oneUpper" class="correct"></span>Please enter one upper case</span>
								        <span class="without-error" ng-class="{'error-text':registerForm.password.$error.oneSmall,'normal':reset}"><span ng-if="registerForm.password.$error.oneSmall" class="wrong"></span><span ng-if="!registerForm.password.$error.oneSmall" class="correct"></span>Please enter atleast one small case</span>
								        <span class="without-error" ng-class="{'error-text':registerForm.password.$error.minlength,'normal':reset}"><span ng-if="registerForm.password.$error.minlength" class="wrong"></span><span ng-if="!registerForm.password.$error.minlength" class="correct"></span>Please enter minimum 8 character's</span>
								</div>								
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 password-cover" ng-init="defaultType2 = 'password'">
								<div class="row">
									<input validate-password="register.password" type="{{defaultType2}}" ng-model="register.confirm_password" name="confirm_password" required>
									<label>Re-enter Password</label>
									<span class="show-password"><img src="assets/images/showPassword.png" ng-click="((defaultType2 =='password')?defaultType2 ='text':defaultType2 = 'password')"></span>
								</div>
							</div>
						</div>
	      				<div class="register-btn-group">
							<button class="fin-app-btn fin-orange" ng-click="userRegister(register)" ng-disabled="registerForm.$invalid">REGISTER NOW</button>
							<span class="or">OR</span>
							<button class="fin-app-btn fin-signIn"><span class="sign-img"><img src="assets/images/gSignIn.png"></span><span>SIGN IN WITH GOOGLE</span></button>
						</div>
	      			</form>
					<ul class="login-dialog">
						<li><p>Already have an account?</p></li>
						<li><a href="javascript:void(0)" click-redirect="/" class="fin-link log-in">LOG IN</a></li>
					</ul>
	      		</div>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 side-desc">
    <div class="row">
    	<header class="contact-header col-xs-12">
			<div class="row">
				<div class="cloud1"><img src="assets/images/contact_cloud1.png"></div>
				<div class="header-intro col-xs-12">
					<div class="row">
						<p class="pull-left">We are happy to have you</p>
						<div class="plane pull-right"><img src="assets/images/loginPlane.png"></div>
					</div>
				</div>
				<div class="cloud2"><img src="assets/images/contact_cloud2.png"></div>
			</div>
		</header>
    </div>
  </div>
</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade fade-scale" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="fadeIn otp-wrapper">
      <button data-dismiss="modal" class="modal-close"></button>
	<header class="login-header col-xs-12">
		<div class="row">
			<div class="cloud1"><img src="assets/images/login_cloud1.png"></div>
			<div class="header-intro col-xs-12">
				<div class="row">
					<p class="pull-left">One tiny step to go!</p>
					<div class="plane pull-right"><img src="assets/images/loginPlane.png"></div>
				</div>
			</div>
			<div class="cloud2"><img src="assets/images/login_cloud2.png"></div>
		</div>
	</header>
	<div class="otp-form">
		<form name="otpForm" novalidate>
			<div class="form-group">
				<input only-number type="text" name="email" ng-model="otp.sms_code" required>
				<label>OTP</label>
				<button ng-click="resendOtp()" class="resendOtp pull-right"><span class="resend-icon"></span>RESEND OTP</button>
			</div>
			<div class="login-btn-group">
				<button ng-disabled="otpForm.$invalid" class="fin-app-btn fin-orange full-width" ng-click="confirmOtp(otp)">COMPLETE REGISTRATION</button>
			</div>
			<p class="verify-email pull-left">Facing OTP issues?<span class="nextline">Please verify email and</span><span class="redirect" ng-click="gotoLogin()">Login using Email</span></p>
			<div class="form-error" ng-if="errorOtp"><p ng-bind="errorOtp"></p></div>
		</form>
	</div>
</div>
    </div>
  </div>
</div>