<section class="fadeIn quickInvest registerInvestor">
    <form name="quickInvestForm1" novalidate>
        <div class="content-main-header">
            <div class="slider-entry-image">
                <img src="assets/images/investerRegistration.png">
            </div>
            <h1 class="pull-left slider-description">Review Information</h1>
            <h2 class="pull-left">Please review the information provided</h2>    
        </div>	
        <div class="col-xs-4 no-padding reviewList">
	        <div class="col-xs-6 no-padding">
	        	<p>- Investor Info</p>
	        	<p>- Identity Info</p>
	        	<p>- Contact Info</p>
	        	<p>- Bank Info</p>

	        </div>
	        <div class="col-xs-6 no-padding reviewList">
	        	<p>- Nominee Info</p>
	        	<p>- Signature</p>
	        	<p>- Video Selfie <span class="nextline highlight placeholder addOnlyBold" click-redirect="/completeVideoSelfie">COMPLETE NOW</span></p>
	        </div>
        </div>
        <div class="col-xs-12 no-padding">
	        <p class="paddingTop2">To change the information provided, please contact us at <a href="mailto:ask@finaskus.com">ask@finaskus.com</a>
	        </p>
	    </div>
	    <div class="col-xs-12">
	    	<div class="row">
	    		<div class="fin-btn-cover started">
                    <div class="fin-btn-group">
                        <button ng-disabled="quickInvestForm1.$invalid" class="fin-app-btn fin-orange" click-redirect="/registerInvestorInfo">CONTINUE TO DASHBOARD</button>
                    </div>
                </div>
	    	</div>
    	</div>
    </form>
</section>