<section class="fadeIn quickInvest registerInvestor">
    <form name="quickInvestForm1" novalidate>
        <div class="content-main-header">
            <div class="slider-entry-image">
                <img src="assets/images/investerRegistration.png">
            </div>
            <h1 class="pull-left slider-description">Investor Registration</h1>
            <h2 class="pull-left">Hold up! You need to provide the following information before you can invest.</h2>
            <div class="checklist-cover col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="checklist">
                                <div class="checkedList">
                                    <div class="image-div">
                                        <img ng-if="registrationStatus.investorInfo==2" src="assets/images/checkBlue.png">
                                    </div>
                                </div>
                                <p ng-click="($root.redirectUrlContext='/registerInvestorInfo')" click-redirect="/investorInfo"><span class="content">Investor Info</span><span ng-if="registrationStatus.investorInfo==2" class="nextline highlight placeholder  addOnlyBold">COMPLETED</span>
                                <span ng-if="registrationStatus.investorInfo==0" class="nextline not-verified placeholder addOnlyBold">COMPLETE NOW</span></p>
                            </div>
                            <div class="checklist">
                                <div class="checkedList">
                                    <div class="image-div">
                                        <img ng-if="registrationStatus.identityInfo==2" src="assets/images/checkBlue.png">
                                    </div>
                                </div>
                                <p class="not-verified" ng-click="($root.redirectUrlContext='/registerInvestorInfo')" click-redirect="/identityInfo"><span class="content">Identity Info</span><span ng-if="registrationStatus.identityInfo==2" class="nextline highlight placeholder addOnlyBold">COMPLETED</span>
                                <span ng-if="registrationStatus.identityInfo==0" class="nextline not-verified placeholder addOnlyBold">COMPLETE NOW</span>
                                <span ng-if="registrationStatus.identityInfo==1" class="nextline not-verified placeholder addOnlyBold">OPTIONAL</span></p>
                            </div>
                            <div class="checklist">
                                <div class="checkedList">
                                    <div class="image-div">
                                        <img ng-if="registrationStatus.contactInfo==2" src="assets/images/checkBlue.png">
                                    </div>
                                </div>
                                <p class="not-verified" ng-click="($root.selectedCriteria='op1');($root.initialize=true);($root.redirectUrlContext='/registerInvestorInfo')" click-redirect="/contactInfo"><span class="content">Contact Info</span><span ng-if="registrationStatus.contactInfo==2" class="nextline highlight placeholder addOnlyBold">COMPLETED</span>
                                <span ng-if="registrationStatus.contactInfo==0" class="nextline not-verified placeholder addOnlyBold">COMPLETE NOW</span>
                                <span ng-if="registrationStatus.contactInfo==1" class="nextline not-verified placeholder addOnlyBold">OPTIONAL</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="checklist">
                                <div class="checkedList">
                                    <div class="image-div">
                                        <img ng-if="registrationStatus.bankInfo==2" src="assets/images/checkBlue.png">
                                    </div>
                                </div>
                                <p class="not-verified" ng-click="($root.redirectUrlContext='/registerInvestorInfo')" click-redirect="/bankInfo"><span class="content">Bank Info</span><span ng-if="registrationStatus.bankInfo==2" class="nextline highlight placeholder addOnlyBold">COMPLETED</span>
                                <span ng-if="registrationStatus.bankInfo==0" class="nextline not-verified placeholder addOnlyBold">COMPLETE NOW</span></p>
                            </div>
                            <div class="checklist">
                                <div class="checkedList">
                                    <div class="image-div">
                                        <img ng-if="registrationStatus.nomineeInfo==2" src="assets/images/checkBlue.png">
                                    </div>
                                </div>
                                <p class="not-verified" ng-click="($root.selectedCriteria='op1');($root.initialize=true);($root.redirectUrlContext='/registerInvestorInfo')" click-redirect="/nomineeInfo"><span class="content">Nominee Info</span><span ng-if="registrationStatus.nomineeInfo==2" class="nextline highlight placeholder addOnlyBold">COMPLETED</span>
                                <span ng-if="registrationStatus.nomineeInfo==0" class="nextline not-verified placeholder addOnlyBold">COMPLETE NOW</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
        <div class="col-xs-12">
            <div class="row">
                <div class="fin-btn-cover started">
                    <div class="fin-btn-group">
                        <button ng-click="back()" class="fin-link-btn"><span><img src="assets/images/startedArrow.png"></span>BACK</button>
                        <button ng-disabled="registrationStatus.incomplete" class="fin-app-btn fin-orange" click-redirect="/registerInvestorConfirm">CONTINUE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
