<!-- Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="fadeIn modal-wrapper">
		<header class="login-header col-xs-12">
			<div class="row">
				<div class="cloud1"><img src="assets/images/login_cloud1.png"></div>
				<div class="header-intro col-xs-12">
					<div class="row">
						<p class="pull-left">Reset Your Password!</p>
						<div class="plane pull-right"><img src="assets/images/loginPlane.png"></div>
					</div>
				</div>
				<div class="cloud2"><img src="assets/images/login_cloud2.png"></div>
			</div>
		</header>
		<div class="otp-form">
			<form name="otpForm" novalidate>
				<div class="form-group">
					<div class="form-group">
						<input type="text" name="email" ng-model="user.email" required>
						<label>Email</label>
					</div>
					<p class="paddingTop2 pull-left"><span class="nextline">A password reset link will be sent to the above email address.</span></p>
				</div>
				<div class="login-btn-group">
					<button class="fin-app-btn fin-orange full-width" ng-click="callPasswordReset(user)">SUBMIT</button>
				</div>
			</form>
		</div>
		</div>
    </div>
  </div>
