<div class="fadeIn col-xs-12 col-sm-12 col-md-12 col-lg-12 getStarted">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pigyImage">
					<div class="row">
						<img src="assets/images/riskassessmentMain.png">
					</div>
				</div>
			</div>
			<div class="col-xs-12 getStartDesc">
				<div class="row">
					<h1>Risk Assessment</h1>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<div class="row">
							<p>Let's get started by asking you a few simple questions that will help us access your Risk Score.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="bubble hidden-xs">
	<p>Risk Assessment</p>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
		<div class="dot-cover">
			<div class="dot">
			</div>
		</div>
	</div> -->
</div>
<div class="col-xs-10 col-md-6 col-sm-9 col-lg-5">
	<div class="fin-btn-cover started firstScreen">
		<div class="fin-btn-group">
			<button ng-click="back()" class="fin-link-btn"><span><img src="assets/images/startedArrow.png"></span>GO BACK</button>
			<button ng-if="!loggedIn" click-redirect="/registration" class="fin-app-btn fin-white content-next">SKIP TO REGISTRATION</button>
			<button class="fin-app-btn fin-orange" click-redirect="/riskAssesment">CONTINUE</button>
		</div>
	</div>
</div>