<div class="fadeIn col-xs-10 col-sm-10 col-md-6 col-lg-4 login-wrapper">
	<header class="login-header col-xs-12">
		<div class="row">
			<div class="cloud1"><img src="assets/images/login_cloud1.png"></div>
			<div class="header-intro col-xs-12">
				<div class="row">
					<p class="pull-left">Easy one step login!</p>
					<div class="plane pull-right"><img src="assets/images/loginPlane.png"></div>
				</div>
			</div>
			<div class="cloud2"><img src="assets/images/login_cloud2.png"></div>
		</div>
	</header>
	<div class="login-form">
		<form name="loginForm" novalidate>
			<div class="form-group">
				<input type="text" name="email" ng-model="user.username" required>
				<label>Email or Phone</label>
			</div>
			<div class="form-group">
				<div class="col-xs-12 password-cover" ng-init="defaultType = 'password'">
					<div class="row">
						<input type="{{defaultType}}" ng-model="user.password" name="password" required>
						<label>Password</label>
						<span class="show-password"><img src="assets/images/showPassword.png" ng-click="((defaultType =='password')?defaultType ='text':defaultType = 'password')"></span>
					</div>
				</div>
			</div>
			<div class="login-btn-group">
				<button class="fin-app-btn fin-orange" ng-click="verifyLogin(user)">LOGIN</button>
				<span class="or">OR</span>
				<button class="fin-app-btn fin-signIn" ng-click="googleSignIn()"><span class="sign-img"><img src="assets/images/gSignIn.png"></span><span>SIGN IN WITH GOOGLE</span></button>
			</div>
		</form>
		<div ng-if="errorMessage" class="form-error"><p ng-bind="errorMessage"></p></div>
	</div>
</div>