<section class="recommended">
	<div class="recommended-table-section">
		<div class="pull-right indicator-cover retirement" ng-if="selectedGoal == 'retirement'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/retirementInner.png"></div>
		        <p>Retirement</p>
		    </div> 
		    <bubble-gen length="6" goal="'Retirement'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover education" ng-if="false">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/education.png"></div>
		        <p>Education</p>
		    </div> 
		    <bubble-gen length="6" goal="'Education'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover property" ng-if="false">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/property.png"></div>
		        <p>Property</p>
		    </div> 
		    <bubble-gen length="6" goal="'Property'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover automobile" ng-if="false">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/automobile.png"></div>
		        <p>Automobile</p>
		    </div> 
		    <bubble-gen length="6" goal="'Automobile'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover vacation" ng-if="false">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/vacation.png"></div>
		        <p>Vacation</p>
		    </div> 
		    <bubble-gen length="6" goal="'Vacation'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover wedding" ng-if="false">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/wedding.png"></div>
		        <p>Wedding</p>
		    </div> 
		    <bubble-gen length="6" goal="'Wedding'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover others" ng-if="true">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/others.png"></div>
		        <p>Others</p>
		    </div> 
		    <bubble-gen length="6" goal="'Others'"></bubble-gen>
	    </div>
		<div class="table-outer-cover schemeTable">
			<div class="thead">
				<div class="tr">
					<div class="th">
						<p>Equity Schemes</p>
					</div>
					<div class="th">
						<p>Sub Type</p>
					</div>
					<div class="th">
						<p>SIP</p>
					</div>
					<div class="th">
						<p>Lumpsum</p>
					</div>
				</div>
			</div>
			<div class="tbody">
				<div class="tr">
					<div class="td">
						<p class="schemes">Kotal select Focus Growth</p>
					</div>
					<div class="td">
						<p>Large Cap</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>83,200</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>93,200</p>
					</div>
				</div>
				<div class="tr">
					<div class="td">
						<p class="schemes">SBI BlueChip Fund Regular Growth</p>
					</div>
					<div class="td">
						<p>Large Cap</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>83,200</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>93,200</p>
					</div>
				</div>
			</div>
			<div class="tfooter">
				<div class="fin-btn-group">
					<button class="fin-app-btn fin-orange" click-redirect="/compareAndModify">COMPARE & MODIFY</button>
				</div>
			</div>
		</div>
		<div class="table-outer-cover schemeTable">
			<div class="thead">
				<div class="tr">
					<div class="th">
						<p>Debt Schemes</p>
					</div>
					<div class="th">
						<p>Sub Type</p>
					</div>
					<div class="th">
						<p>SIP</p>
					</div>
					<div class="th">
						<p>Lumpsum</p>
					</div>
				</div>
			</div>
			<div class="tbody">
				<div class="tr">
					<div class="td">
						<p class="schemes">Kotal select Focus Growth</p>
					</div>
					<div class="td">
						<p>Large Cap</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>83,200</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>93,200</p>
					</div>
				</div>
				<div class="tr">
					<div class="td">
						<p class="schemes">SBI BlueChip Fund Regular Growth</p>
					</div>
					<div class="td">
						<p>Large Cap</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>83,200</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>93,200</p>
					</div>
				</div>
			</div>
			<div class="tfooter">
				<div class="fin-btn-group">
					<button class="fin-app-btn fin-orange" click-redirect="/compareAndModify">COMPARE & MODIFY</button>
				</div>
			</div>
		</div>
		<div class="table-outer-cover schemeTable">
			<div class="thead">
				<div class="tr">
					<div class="th">
						<p>ELSS Schemes</p>
					</div>
					<div class="th">
						<p>Sub Type</p>
					</div>
					<div class="th">
						<p>SIP</p>
					</div>
					<div class="th">
						<p>Lumpsum</p>
					</div>
				</div>
			</div>
			<div class="tbody">
				<div class="tr">
					<div class="td">
						<p class="schemes">Kotal select Focus Growth</p>
					</div>
					<div class="td">
						<p>Large Cap</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>83,200</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>93,200</p>
					</div>
				</div>
				<div class="tr">
					<div class="td">
						<p class="schemes">SBI BlueChip Fund Regular Growth</p>
					</div>
					<div class="td">
						<p>Large Cap</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>83,200</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>93,200</p>
					</div>
				</div>
			</div>
			<div class="tfooter">
				<div class="fin-btn-group">
					<button class="fin-app-btn fin-orange">COMPARE & MODIFY</button>
				</div>
			</div>
		</div>
		<div class="fin-btn-group">
			<button class="fin-app-btn fin-white">SEE PAST PERFORMACE OF ABOVE PORTFOLIO</button>
		</div>

	</div>
	<div class="calculated">
		<div class="calculated-cover">
			<div class="calculated-left-cover">
				<p>Total Amount</p>
			</div>
			<div class="calculated-right-cover">
				<div class="total-text">
					<span class="placeholder">SIP</span>
					<p><span class="content">Rs.</span><span class="amount">93,200</span></p>
				</div>
				<div class="total-text">
					<span class="placeholder">Lumpsum</span>
					<p><span class="content">Rs.</span><span class="amount">93,200</span></p>
				</div>
			</div>
		</div>
		<div class="calculated-cover">
			<div class="calculated-left-cover">
				<p>Your total annualized investment is</p>
			</div>
			<div class="calculated-right-cover">
				<div class="total-text">
					<p><span class="content">Rs.</span><span class="amount">12,12,400</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="fin-btn-group addMargin">
	    <button click-redirect="/educationStarted" class="fin-link-btn content-prev"><span><img src="assets/images/startedArrow.png"></span>BACK</button>
	    <button click-redirect="/goals" class="fin-app-btn fin-blue">CONTINUE PLANING</button>
	    <button click-redirect="" class="fin-app-btn fin-orange">CONTINUE TO FUND SELECTION</button>
	</div>
</section>

