<section class="recommended">
	<div class="recommended-table-section">
		<div class="pull-right indicator-cover retirement" ng-if="$root.currentGoal == 'retirement'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/retirementInner.png"></div>
		        <p>Retirement</p>
		    </div> 
		    <bubble-gen length="6" goal="'Retirement'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover education" ng-if="$root.currentGoal == 'education'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/education.png"></div>
		        <p>Education</p>
		    </div> 
		    <bubble-gen length="6" goal="'Education'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover property" ng-if="$root.currentGoal == 'property'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/property.png"></div>
		        <p>Property</p>
		    </div> 
		    <bubble-gen length="6" goal="'Property'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover automobile" ng-if="$root.currentGoal == 'automobile'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/automobile.png"></div>
		        <p>Automobile</p>
		    </div> 
		    <bubble-gen length="6" goal="'Automobile'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover vacation" ng-if="$root.currentGoal == 'vacation'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/vacation.png"></div>
		        <p>Vacation</p>
		    </div> 
		    <bubble-gen length="6" goal="'Vacation'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover wedding" ng-if="$root.currentGoal == 'wedding'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/wedding.png"></div>
		        <p>Wedding</p>
		    </div> 
		    <bubble-gen length="6" goal="'Wedding'"></bubble-gen>
	    </div>
	    <div class="pull-right indicator-cover others" ng-if="$root.currentGoal == 'event'">
			<div class="typeSwiper">
		        <div class="image-backdrop"><img src="assets/images/others.png"></div>
		        <p>Others</p>
		    </div> 
		    <bubble-gen length="6" goal="'Others'"></bubble-gen>
	    </div>
		<div class="table-outer-cover schemeTable" ng-repeat="eachSchemeType in recommendedSchemes">
			<div class="thead">
				<div class="tr">
					<div class="th">
						<p>{{eachSchemeType.key}} Schemes</p>
					</div>
					<div class="th">
						<p>Sub Type</p>
					</div>
					<div class="th">
						<p>SIP</p>
					</div>
					<div class="th">
						<p>Lumpsum</p>
					</div>
				</div>
			</div>
			<div class="tbody">
				<div class="tr" ng-repeat="eachScheme in eachSchemeType.data">
					<div class="td">
						<p class="schemes" show-factsheet="{{eachScheme.id}}">{{eachScheme.fund_name}}</p>
					</div>
					<div class="td">
						<p>{{eachScheme.category_name}}</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>{{eachScheme.sip}}</p>
					</div>
					<div class="td">
						<p><span class="currency">&#8377;</span>{{eachScheme.lumpsum}}</p>
					</div>
				</div>
			</div>
			<div class="tfooter">
				<div class="fin-btn-group">
					<button class="fin-app-btn fin-orange" ng-click="compareAndModify(eachSchemeType.key)">COMPARE & MODIFY</button>
				</div>
			</div>
		</div>
		
		<!-- <div class="fin-btn-group">
			<button class="fin-app-btn fin-white">SEE PAST PERFORMACE OF ABOVE PORTFOLIO</button>
		</div> -->

	</div>
	<div class="calculated">
		<div class="calculated-cover">
			<div class="calculated-left-cover">
				<p>Total Amount</p>
			</div>
			<div class="calculated-right-cover">
				<div class="total-text">
					<span class="placeholder">SIP</span>
					<p><span class="currency">&#8377;</span><span class="amount">{{goalSummary.sip}}</span></p>
				</div>
				<div class="total-text">
					<span class="placeholder">Lumpsum</span>
					<p><span class="currency">&#8377;</span><span class="amount">{{goalSummary.lumpsum}}</span></p>
				</div>
			</div>
		</div>
		<div class="calculated-cover">
			<div class="calculated-left-cover">
				<p>Your total annualized investment is</p>
			</div>
			<div class="calculated-right-cover">
				<div class="total-text">
					<p><span class="currency">&#8377;</span><span class="amount">{{totalAnnualInvest}}</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="fin-btn-group addMargin">
	    <button click-redirect="{{$root.redirectURL}}" class="fin-link-btn content-prev"><span><img src="assets/images/startedArrow.png"></span>BACK</button>
	    <button click-redirect="/planInvest" class="fin-app-btn fin-blue">CONTINUE PLANNING</button>
	    <button ng-click="goToInvest()" class="fin-app-btn fin-orange">INVEST AND PAY NOW</button>
	</div>
</section>

