<section class="fadeIn quickInvest">
    <form name="quickInvestForm1" novalidate>
        <div class="content-main-header">
            <div class="slider-entry-image">
                <img src="assets/images/jewellery.svg">
            </div>
            <h1 class="pull-left slider-description">Jewellery</h1>
            <!-- <h2 class="pull-left">Pamper yourself with some fashionable jewellery and let finances<span class="nextline">not force you to make a compromise</span></span></h2> -->
            <h2 class="pull-left"><strong><i>I have enough jewellery – said no one ever</i></strong><span class="nextline paddingTop2">Save and invest for that fantastic jewellery you always<span class="nextline">wanted, and let finances not force you to make a compromise.</span></span></h2>
        </div>                
        <div class="radio-cover">
            <input type="radio" required id="option1Type1" name="option1" ng-model="$root.selectedCriteria" value="op1"><label for="option1Type1"><span></span>I want to plan myself</label>
            <input type="radio" required id="option1Type3" name="option1" ng-model="$root.selectedCriteria" value="op2"><label for="option1Type3"><span></span>Please help me estimate</label>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="fin-btn-cover started">
                    <div class="fin-btn-group">
                        <button click-redirect="goals" class="fin-link-btn"><span><img src="assets/images/startedArrow.png"></span>BACK</button>
                        <button ng-disabled="quickInvestForm1.$invalid" class="fin-app-btn fin-orange" click-redirect="/jewellery">CONTINUE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>