<section class="fadeIn trackPerformance">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="smart-folio-cover">
					<h3>Portfolio Status</h3>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<div class="image-div">
									<img src="assets/images/currentValue.png">
								</div>
								<div class="money-value">
									<h4>Current Value</h4>
									<p><span class="currency">&#8377;</span><span class="amount">{{(portfolioStatus.current_value.value | amountSeffix) || 0}}</span></p>
								</div>
								<div class="money-value">
									<h4>Current Gain/Loss</h4>
									<p class="gain types">
									<span class="currency">&#8377;</span><span class="percentage">{{((portfolioStatus.current_return | removeNegative) | amountSeffix) || 0}}</span></p>
									<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="image-div">
									<img src="assets/images/investedValue.png">
								</div>
								<div class="money-value">
									<h4>Invested Value</h4>
									<p><span class="currency">&#8377;</span><span class="amount">{{(portfolioStatus.invested | amountSeffix) || 0}}</span></p>
								</div>
								<div class="money-value">
									<h4>Annualized Returns(%)</h4>
									<p class="gain types" ng-if="portfolioStatus.current_value.is_gain == true">
									<span class="percentage">{{(portfolioStatus.current_value.gain_per | removeNegative) | amountSeffix}}%</span>
									</p>
									<p ng-if="portfolioStatus.current_value.is_gain == false" class="loss types">
									<span class="percentage">{{(portfolioStatus.current_value.gain_per | removeNegative) | amountSeffix}}%</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="last-day-change">
					<h3>Last Day's Change<p class="pull-right">As of  <span class="content">{{dashboardDate}}</span></p></h3>
					<div class="table-outer-cover">
						<div class="thead">
							<div class="tr">
								<div class="th">
									<p class="no-text">empty</p>
								</div>
								<div class="th">
									<p>Current Value</p>
								</div>
								<div class="th">
									<p>Gain/Loss</p>
								</div>
								<div class="th">
									<p>Change (%)</p>
								</div>
							</div>
						</div>
						<div class="tbody">
							<div class="tr" ng-repeat="data in yestChanges">
								<div class="td">
									<p>{{data.name}}</p>
								</div>
								<div class="td">
									<p><span class="currency" ng-if="(data.name != 'BSE Sensex')&&(data.name != 'NSE CNX Nifty')">&#8377;</span><span class="amount">{{data.current_value | amountSeffix}}</span></p>
								</div>
								<div class="td">
									<div class="money-value">
										<p class="gain types" ng-if="data.is_gain">
										<span class="currency" ng-if="(data.name != 'BSE Sensex')&&(data.name != 'NSE CNX Nifty')">&#8377;</span><span class="percentage">{{data.gain}}</span></p>
										<p ng-if="!data.is_gain" class="loss types">( <span class="currency" ng-if="(data.name != 'BSE Sensex')&&(data.name != 'NSE CNX Nifty')">&#8377;</span><span class="percentage">{{data.gain}}</span> )</p>
									</div>
								</div>
								<div class="td">
									<div class="money-value">
										<p class="gain types" ng-if="data.is_gain">
										<span class="percentage">{{data.gain_per}}</span></p>
										<p ng-if="!data.is_gain" class="loss types">( <span class="percentage">{{data.gain_per}}</span> )</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-paddingDevice">
				<ul class="chart-main-tabs">
					<li ng-click="setChartValue = 'FINANCE'" ng-class="{'activeli':setChartValue == 'FINANCE'}"><a href="javascript:void(0)">Financial Goal Status</a></li>
					<li ng-click="setChartValue = 'SCHEME'" ng-class="{'activeli':setChartValue == 'SCHEME'}"><a href="javascript:void(0)">Scheme Details</a></li>
					<li ng-click="setChartValue = 'TRANSACTION'" ng-class="{'activeli':setChartValue == 'TRANSACTION'}"><a href="javascript:void(0)">Transaction History</a></li>
					<li ng-click="setChartValue = 'PORFOLIO_TRACKER'" ng-class="{'activeli':setChartValue == 'PORFOLIO_TRACKER'}"><a href="javascript:void(0)">Portfolio Tracker</a></li>
				</ul>
				<div class="chart-cover scheme-pie" ng-if="setChartValue == 'SCHEME'" custom-scroll-bar>
					<div class="col-xs-12 no-paddingDevice">
						<div class="col-xs-12 col-lg-12 scheme-chart">
							<div class="row">
								<scheme-chart title="pieTitle" items="resultPercentage" colors="colors"></scheme-chart>
							</div>
						</div>
						<div class="col-xs-12 col-lg-12 trackPerformanceLegendCont no-padding">

						<div class="trackPerformanceLegends col-xs-12 no-padding">
							<p ng-repeat="legend in legends" class="no-padding text-center"><span class="content col-xs-2 no-padding" ng-bind="legend.name"></span>

								<span class="legend-cover">
									<span class="legend-main" ng-style="{'background-color':legend.color,'width':(legend.value)+'%'}">
										<span class="right"></span>
										<span class="left" ng-style="{'border-left':legend.borderColor}"></span>
										<span class="value" ng-bind="legend.value+' %'"></span>
									</span>
								</span>
								<span class="value-cover"><span class="currency">&#8377;</span><span class="value" ng-bind="legend.price | amountSeffix"></span></span>
							</p>
						</div>
						</div>
						<div class="panel-group customPanel" id="accordion" role="tablist" aria-multiselectable="true">
						  <div class="panel panel-default" ng-repeat="scheme in allSchemes">
						    <div class="panel-heading" role="tab" id="headingOne">
						    	<div class="panel-title">
						    		<p>{{scheme.name | capitalizeScheme}} Schemes <span class="pull-right"><a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-target="#collapseOne_{{scheme.name}}" aria-expanded="true" aria-controls="collapseOne_{{scheme.name}}">
						          EXPAND
						        </a></span></p>
						    	</div>
						    	<div class="panel-description">
						    		<div class="table-outer-cover panel-table">
										<div class="thead">
											<div class="tr">
												<div class="th">
													<p>% Holding</p>
												</div>
												<div class="th">
													<p>Invested Value</p>
												</div>
												<div class="th">
													<p>Current Value</p>
												</div>
												<div class="th">
													<div class="money-value">
														<p class="gain types" ng-if="scheme.is_gain">
														<span class="currency">&#8377;</span><span class="percentage">{{scheme.gain}}</span></p>
														<p ng-if="!scheme.is_gain" class="loss types"><span class="currency">&#8377;</span><span class="percentage">( {{scheme.gain | removeNegative}} )</span></p>
													</div>
												</div>
											</div>
										</div>
										<div class="tbody">
											<div class="tr">
												<div class="td">
													<p>{{scheme.holding_per}}%</p>
												</div>
												<div class="td">
													<p><span class="currency">&#8377;</span><span class="amount">{{scheme.invested | amountSeffix}}</span></p>
												</div>
												<div class="td">
													<!-- <div class="money-value">
														<p class="gain types">
														<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
														<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
													</div> -->
													<p><span class="currency">&#8377;</span><span class="amount">{{scheme.current_value | amountSeffix}}</span></p>
												</div>
												<div class="td">
													<div class="money-value">
														<p class="gain types" ng-if="scheme.is_gain">
														<span class="percentage">{{scheme.gain_per}}%</span></p>
														<p ng-if="!scheme.is_gain" class="loss types"><span class="percentage">( {{scheme.gain_per | removeNegative}} )%</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>
						    	</div>
						    </div>
						    <div id="collapseOne_{{scheme.name}}" accordian class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						      <div class="panel-body" ng-repeat="fund in scheme.funds">
						        <div class="table-outer-cover panel-table">
										<p class="schemes" show-factsheet="{{fund.id}}">{{fund.fund_name}}<span class="money-value">
											<span class="gain types">
											<span class="currency">&#8377;</span><span class="percentage">{{fund.gain | removeNegative}}</span></span>
										</span></p>
										<div class="tbody">
											<div class="tr">
												<div class="td">
													<p><span class="pie-circle" ng-style="{'background-color':'#047ac1'}"></span><span class="content">{{fund.fund_percentage}}%</span></p>
												</div>
												<div class="td">
													<p><span class="currency">&#8377;</span><span class="amount">{{fund.invested_value}}</span></p>
												</div>
												<div class="td">
													<div class="money-value">
														<p>
														<span class="currency">&#8377;</span><span class="amount">{{fund.current_value}}</span></p>
														
													</div>
												</div>
												<div class="td">
													<div class="money-value">
														<p class="gain types" ng-if="fund.is_gain">
														<span class="percentage">{{fund.return_percentage}}%</span></p>
														<p ng-if="!fund.is_gain" class="loss types"><span class="percentage">({{fund.return_percentage | removeNegative}}%)</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>						
				</div>	
				<div class="chart-cover finance-cover" ng-if="setChartValue == 'FINANCE'" custom-scroll-bar>
					<div class="col-xs-12">
						<div class="seperater" ng-repeat="finGoals in financial_goal_status"  ng-click="showFinancialGoalModal(finGoals)">
						  <div class="row">
							<div class="col-xs-2">
								<div class="image-div">
									<img ng-src="assets/images/{{getGoalImg(finGoals)}}">
								</div>
							</div>
							<div class="col-lg-6 col-xs-5">
								<p class="finance-desc"><span class="content">{{finGoals.name}}</span><span class="nextline placeholder addOnlyBold" ng-if="false">ON TRACK</span></p>
							</div>
							<div class="col-lg-4 col-xs-5">
								<p class="target-amount"><span class="content highlight"><span class="currency">&#8377;</span><span class="content">{{finGoals.goal | backendAmtSuffix}}</span></span><span class="nextline placeholder">{{finGoals.dateFormatted | date:'dd/MM/yyyy'}}</span></p>
							</div>
						  </div>
						  <div class="col-xs-12 no-padding">
								<div class="progress">
								    <div class="progress-bar" role="progressbar" ng-style="{'width':'{{finGoals.progress}}%'}">
								    <span class="progress-price"><span class="currency">&#8377;</span><span class="amount">{{finGoals.expected_value | backendAmtSuffix}}</span></span>
								    <span class="progress-percentage placeholder">{{finGoals.progress}}%</span>
								    </div>
								</div>
							</div>
						 </div>
					</div>							
				</div>	
				<div class="chart-cover transaction-cover" ng-if="setChartValue == 'TRANSACTION'" custom-scroll-bar>
					<div class="schemes-inner col-xs-12">
						<div class="col-xs-12 transactionEach" ng-repeat="transactions in transactionHistory">			
							<p ><h2 show-factsheet="{{transactions.fund_id}}" class="pull-left col-xs-9 no-padding">{{transactions.fund_name}}</h2></p>
							<p ng-if="checkNegAmt(transactions.order_amount)" class="target-amount col-xs-3 no-padding no-margin"><span class="content highlight"><span class="currency">&#8377;</span><span class="content ng-binding">{{(transactions.order_amount | removeNegative) | amountSeffix}}</span></span></p>
							<p ng-if="!checkNegAmt(transactions.order_amount)" class="target-amount col-xs-3 no-padding no-margin"><span class="content"><span class="currency">&#8377;</span><span class="content ng-binding">{{transactions.order_amount | amountSeffix}}</span></span></p>
							<div class="list-details">
								<div class="table">
									<div class="thead">
										<div class="tr">
											<div class="th col-xs-3 no-padding">
												<p>Request Date</p>
											</div>
											<div class="th col-xs-2 no-padding">
												<p>NAV Date</p>
											</div>
											<div class="th col-xs-2 no-padding">
												<p>NAV</p>
											</div>
											<div class="th col-xs-2 no-padding">
												<p>Units</p>
											</div>
											<div class="th col-xs-3 no-padding">
												<p>Folio No</p>
											</div>
										</div>
									</div>
									<div class="tbody">
										<div class="tr">
											<div class="td col-xs-3 no-padding">
												<p>{{transactions.transaction_date | date:'dd-MM-yyyy'}}</p>
											</div>
											<div class="td col-xs-2 no-padding">
												<p>{{transactions.allotment_date}}</p>
											</div>
											<div class="td col-xs-2 no-padding">
												<p>{{transactions.nav}}</p>
											</div>
											<div class="td col-xs-2 no-padding">
												<p>{{transactions.unit_alloted}}</p>
											</div>
											<div class="td col-xs-3 no-padding">
												<p>{{transactions.folio_number}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="chart-cover graph-cover" ng-if="setChartValue == 'PORFOLIO_TRACKER'" >
					<h3 class="chart-main-header">Portfolio Performance Since Inception</h3>
					<hc-chart ng-if="resultSet" items="resultSet"></hc-chart>
					<p class="text-right"><span class="addOnlyBold highlight"><span class="currency">&#8377;</span> 10,000</span> invested on {{resultSet[0]['data'][0]['date']}} would be <span class="content" ng-if="$root.nav"><span class="currency">&#8377;</span><span class="addOnlyBold highlight">{{$root.nav.amount | amountFormat}}</span> on {{$root.nav.date}}</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 bottom-desc">
		
		<div class="no-padding col-xs-12 col-sm-10 col-md-6 col-lg-4">
			<div class="fin-btn-group addMargin text-left">
	            <button ng-click="back()" class="fin-link-btn content-prev text-left"><span><img src="assets/images/startedArrow.png"></span>Go Back</button>
	            
	        </div>
	    </div>
	</div>
</section>
<div class="modal fade fade-scale" id="finGoalStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="fadeIn modal-wrapper">
			<div class="col-xs-12">
				<div class="col-xs-2 col-lg-2">
					<img ng-src="assets/images/{{finGoalsModal.goalImgModal}}" class="img img-responsive">
				</div>
				<div class="col-xs-12 col-lg-10">
					<div class="row">
						<div class="col-xs-9 no-padding">
							<p class="finance-desc"><span class="content">{{finGoalsModal.name}}</span><span class="nextline placeholder addOnlyBold">ON TRACK</span></p>
						</div>
						<div class="col-xs-3 no-padding">
							<p class="no-margin"><span class="placeholder">Expected corpus in {{finGoalsModal.dateFormatted | date:'yyyy'}}</span></p>
							<p class="target-amount"><span class="content highlight"><span class="currency">&#8377</span><span class="content ng-binding">{{finGoalsModal.goal | backendAmtSuffix}}</span></span></p>
						</div>
					</div>

					<div class="row">
						<div class="no-padding col-xs-12">
							<div class="progress">
							    <div class="progress-bar" role="progressbar" ng-style="getWidth(finGoalsModal)">
							    <span class="progress-price"><span class="currency">&#8377</span><span class="amount ng-binding">{{finGoalsModal.expected_value | backendAmtSuffix}}</span></span>
							    <span class="progress-percentage placeholder">{{finGoalsModal.progress}}%</span>
							    </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="table-outer-cover schemeTable finGoalStatusTable">
							<div class="thead">
								<div class="tr">
									<div class="col-xs-3">
										<p>Lumpsum</p>
									</div>
									<div class="col-xs-3">
										<p>SIP</p>
									</div>
									<div class="col-xs-2">
										<p>Duration</p>
									</div>
									<div class="col-xs-4">
										<p>Asset Allocation</p>
									</div>
								</div>
							</div>
							<div class="tbody">
								<div class="tr">
									<div class="col-xs-3">
										<p><span class="currency">&#8377;</span>{{(finGoalsModal.lumpsum || 0) | amountFormat}}</p>
									</div>
									<div class="col-xs-3">
										<p><span class="currency">&#8377;</span>{{(finGoalsModal.sip || 0) | amountFormat}}</p>
									</div>
									<div class="col-xs-2">
										<p>{{finGoalsModal.goal_answers.term || 'NA'}} years</p>
									</div>
									<div class="col-xs-4" ng-if="finGoalsModal.goal_type != 'tax'">
										<span class="debt_percent">Debt {{finGoalsModal.goal_answers.allocation.debt}}%</span>
										<span class="equity_percent">Equity {{finGoalsModal.goal_answers.allocation.equity}}%</span>
									</div>
									<div class="col-xs-4" ng-if="finGoalsModal.goal_type == 'tax'">
										<span>ELSS {{finGoalsModal.goal_answers.allocation.elss}}%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 taxPlanSchemeListTable" custom-scroll-bar>
			<div class="panel-group customPanel" id="accordionModal" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-repeat="(key, scheme) in finGoalsModal.fund_details" ng-if="scheme.length > 0">
    <div class="panel-heading" role="tab">
    	<div class="panel-title">
    		<p>{{key | capitalizeScheme}} Schemes <span class="pull-right"><a role="button" data-toggle="collapse" data-parent="#accordionModal" href="javascript:void(0)" data-target="#collapseOneModal_{{key}}" aria-expanded="true" aria-controls="collapseOne">
          EXPAND
        </a></span></p>
    	</div>
    	<div class="panel-description">
    		<div class="table-outer-cover panel-table">
				<div class="thead">
					<div class="tr">
						
						<div class="th">
							<p>SIP</p>
						</div>
						<div class="th">
							<p>Lumpsum</p>
						</div>
					<!-- 	<div class="th">
							<p>Current Value</p>
						</div>
						<div class="th">
							<div class="money-value">
								<p class="gain types" ng-if="scheme.is_gain">
								<span class="currency">&#8377;</span><span class="percentage">{{scheme.gain}}</span></p>
								<p ng-if="!scheme.is_gain" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">{{scheme.gain}}</span> )</p>
							</div>
						</div> -->
					</div>
				</div>
				<div class="tbody">
					<div class="tr">
						
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">{{calculateTotalSIP(scheme)}}</span></p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">{{calcaulateLumpsum(scheme)}}</span></p>
						</div>
<!-- 						<div class="td">
							<div class="money-value">
								<p>
								<span class="currency">&#8377;</span><span class="amount">{{scheme.current_value}}</span></p>
								
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types" ng-if="scheme.is_gain">
								<span class="percentage">{{scheme.gain_per}}%</span></p>
								<p ng-if="!scheme.is_gain" class="loss types"><span class="percentage">({{scheme.gain_per}}%)</span></p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
    	</div>
    </div>
    <div id="collapseOneModal_{{key}}" accordian class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body" ng-repeat="fund in scheme">
        <div class="table-outer-cover panel-table">
				<p class="schemes">{{fund.scheme_name}}<span class="money-value">
					<!-- <span class="gain types">
					<span class="currency">&#8377;</span><span class="percentage">{{fund.gain | removeNegative}}</span></span> -->
				</span></p>
				<div class="tbody">
					<div class="tr">
						<!-- <div class="td">
							<p><span class="pie-circle" ng-style="{'background-color':'#047ac1'}"></span><span class="content">{{fund.fund_percentage}}%</span></p>
						</div> -->
						
						<div class="td">
							<div class="money-value">
								<p><span class="currency">&#8377;</span><span class="amount">{{fund.agreed_sip}}</span></p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p><span class="currency">&#8377;</span><span class="amount">{{fund.agreed_lumpsum}}</span></p>
							</div>
						</div>
						<!-- <div class="td">
							<div class="money-value">
								<p class="gain types" ng-if="fund.is_gain">
								<span class="percentage">{{fund.return_percentage}}%</span></p>
								<p  ng-if="!fund.is_gain" class="loss types">( <span class="percentage">{{fund.return_percentage}}%</span> )</p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-xs-12">
	<div class="fin-btn-group addMargin investStep1 ng-scope">
    <button data-dismiss="modal" class="fin-link-btn content-prev">BACK</button>
    <!-- <button data-toggle="modal" data class="fin-app-btn fin-orange">TOP UP GOAL</button> -->
</div>
</div>
		</div>
    </div>
  </div>
</div>