<section class="investStep1">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-lg-4 col-md-4 pie-cover">
				<p><span class="placeholder pie-header">Your asset allocation for the year</span></p>{{$root.colors}}
				<invest-pie-chart items="$root.resultPercentage" title="$root.pieTitle" colors="$root.colors"></invest-pie-chart>
				<div class="pie-chart-legend">
					<div class="label-cover">
						<p ng-repeat="legend in $root.legends"><span class="content col-xs-2" ng-bind="legend.name"></span><span class="legend-cover">
							<span class="legend-main" ng-style="{'background-color':legend.color,'width':legend.value+'%'}">
								<span class="right"></span>
								<span class="left" ng-style="{'border-left':legend.borderColor}"></span>
								<span class="value" ng-bind="legend.value+' %'"></span>
							</span>
						</span><span class="value-cover"><span class="currency">&#8377;</span><span class="value" ng-bind="legend.price | amountSeffix"></span></span></p>
					</div>
				</div>
				<!-- <span class="placeholder bottom">*investment amounts are rounded off to the nearest hundred</span> -->
			</div>
			<div class="col-xs-12 col-lg-8 col-md-8 xScrollDiv">
				<p><span class="placeholder pie-header">Your goal summary</span></p>
				<div class="table-outer-cover investNowTable">
					<div class="thead">
						<div class="tr">
							<div class="th">
								<p>Goal</p>
							</div>
							<div class="th hidden-xs">
								<p>Expected Corpus</p>
							</div>
							<div class="th">
								<p>Tenure(Years)</p>
							</div>
							<div class="th">
								<p>SIP</p>
							</div>
							<div class="th">
								<p>Lumpsum</p>
							</div>
						</div>
					</div>
					<div class="seperate-cover" custom-scroll-bar>
						<div class="tbody">
							<div class="tr" ng-repeat="schemes in $root.recommended_schemes">
								<div class="td">
									<p>{{schemes.goal_summary.goal}}</p>
								</div>
								<div class="td hidden-xs">
									<p><span class="currency">&#8377;</span><span>{{schemes.goal_summary.corpus | amountSeffix}}</span></p>
								</div>
								<div class="td">
									<p>{{schemes.goal_summary.term}}</p>
								</div>
								<div class="td">
									<p><span class="currency">&#8377;</span><span>{{schemes.goal_summary.sip | amountFormat}}</span></p>
								</div>
								<div class="td">
									<p>{{schemes.goal_summary.lumpsum | amountFormat}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tfooter">
						<div class="total">
							<p>Total</p>
						</div>
						<div class="sipTotal">
							<p><span class="currency">&#8377;</span><span>{{sipTotal | amountFormat}}</span></p>
						</div>
						<div class="lumpSumTotal">
							<p><span class="currency">&#8377;</span><span>{{lumpSumTotal | amountFormat}}</span></p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="fin-btn-group addMargin">
			    <button click-redirect="/reviewInvestment" class="fin-app-btn fin-orange">CONTINUE</button>
			</div>
		</div>
	</div>
</section>