<section class="investStep1 ">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				
				<div class="table-outer-cover table-full-width">
				<h3>Transaction Details</h3>
				 <div class="tbody">
				 	<div class="tr">
					 	<div class="td col-xs-5 no-padding">
					 		<p class="">Message</p>
					 	</div>
					 	<div class="td">
					 		<p class="">{{message}}</p>
					 	</div>

				 	</div>
				 	<div class="tr">
					 	<div class="td col-xs-5 no-padding">
					 		<p>Transaction Amount</p>
					 	</div>
					 	<div class="td">
					 		<p class=""><span class="currency">&#8377</span>{{txn_amount}}</p>
					 	</div>

				 	</div>
				 	<div class="tr">
					 	<div class="td col-xs-5 no-padding">
					 		<p>API Status</p>
					 	</div>
					 	<div class="td">
					 		<p class="">{{apiStatus}}</p>
					 	</div>

				 	</div>
				 	<div class="tr">
					 	<div class="td col-xs-5 no-padding">
					 		<p class="">Authentication Status</p>
					 	</div>
					 	<div class="td">
					 		<p class="">{{auth_status}}</p>
					 	</div>

				 	</div>
				 	<div class="tr">
					 	<div class="td col-xs-5 no-padding">
					 		<p class="">Order Id</p>
					 	</div>
					 	<div class="td">
					 		<p class="">{{order_id}}</p>
					 	</div>

				 	</div>

				 	

					<!-- <h3>Investment Details</h3>
					<p>Transaction Amount</p>{{txn_amount}}
					<p>API Status</p>{{apiStatus}}
					<p>Authentication Status</p>{{auth_status}}
					<p>Order Id</p>{{order_id}} -->

				</div>
			</div>
		</div>
	</div>
</section>