<section class="investStep1">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-lg-8 col-md-9 col-xs-12">
				<div class="table-outer-cover reviewInvest" ng-repeat="recommendedSchemes in $root.recommended_schemes">
					<div class="seperate-cover" custom-scroll-bar>
					<h4>{{recommendedSchemes.goal_summary.goal}}</h4>
						<div class="table-seperate" ng-repeat="eachRecommend in recommendedSchemes.recommended_schemes">
							
							<div class="thead">
								<div class="tr">
									<div class="th">
										<p>{{eachRecommend.key}} Schemes</p>
									</div>
									<div class="th">
										<p>Scheme Sub Type</p>
									</div>
									<div class="th">
										<p>SIP</p>
									</div>
									<div class="th">
										<p>Lumpsum</p>
									</div>
								</div>
							</div>
							<div class="tbody">
								<div class="tr" ng-repeat="schemes in eachRecommend.data">
									<div class="td">
										<p class="schemes" show-factsheet="{{schemes.id}}">{{schemes.fund_name}}</p>
									</div>
									<div class="td">
										<p>{{schemes.category_name}}</p>
									</div>
									<div class="td">
										<p><span class="currency">&#8377;</span><span class="amount">{{schemes.sip}}</span></p>
									</div>
									<div class="td">
										<p>{{schemes.lumpsum}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-md-2 hidden-xs">
				<div class="image-div">
					<img src="assets/images/reviewCheckMark.png">
				</div>
			</div>
		</div>
	</div>
</section>
<div class="calculated">
	<div class="calculated-cover">
		<div class="calculated-left-cover">
			<p>Total Amount</p>
		</div>
		<div class="calculated-right-cover">
			<div class="total-text">
				<span class="placeholder">SIP</span>
				<p><span class="content"><span class="currency">&#8377;</span></span><span class="amount">{{sipTotal}}</span></p>
			</div>
			<div class="total-text">
				<span class="placeholder">Lumpsum</span>
				<p><span class="content"><span class="currency">&#8377;</span></span><span class="amount">{{lumpSumTotal}}</span></p>
			</div>
		</div>
	</div>
	<div class="calculated-cover">
		<div class="calculated-left-cover">
			<p>Your total annualized investment is</p>
		</div>
		<div class="calculated-right-cover">
			<div class="total-text">
				<p><span class="content"><span class="currency">&#8377;</span></span><span class="amount">{{overall_total_sum}}</span></p>
			</div>
		</div>
	</div>
</div>
<div class="termsConditions">
	<div class="checkbox-cover">
        <input type="checkbox" id="terms" name="type" ng-init="accepted_condn = false" ng-model="accepted_condn">
        <label for="terms"><span></span>I have read and accepted the <b class="link">Scheme Offer Documents/KIMs</b>&<b class="link">Commission Structure</b></label>
    </div>
</div>
<div class="fin-btn-group addMargin investStep1">
    <button click-redirect="/planInvest" class="fin-link-btn content-prev"><span><img src="assets/images/startedArrow.png"></span>CONTINUE PLANNING</button>
    <button ng-click="payInvest(sipTotal+lumpSumTotal)" class="fin-app-btn fin-orange" ng-disabled="accepted_condn == false">PAY & INVEST</button>
</div>
