<section class="investStep1">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="table-outer-cover withdraw" ng-repeat="recommendedSchemes in $root.redeemData">
						<div class="seperate-cover" custom-scroll-bar>
							<h4>{{recommendedSchemes.goal_name}}</h4>
							<div class="table-seperate" ng-repeat="eachRecommend in recommendedSchemes.funds" ng-if="eachRecommend.value[0].fund_id">
								
								<div class="thead">
									<div class="tr">
										<div class="th">
											<p>{{eachRecommend.key}} Schemes</p>
										</div>
										<div class="th">
											<p>Sub Type</p>
										</div>
										<div class="th">
											<p>Current Value</p>
										</div>
										<div class="th">
											<p class="text-center">Select All Units</p>
										</div>
										<div class="th">
											<p>Redemption Amount</p>
										</div>
									</div>
								</div>
								<div class="tbody">
									<div class="tr" ng-repeat="schemes in eachRecommend.value">
										<div class="td">
											<p class="schemes" show-factsheet="{{schemes.fund_id}}">{{schemes.name}}</p>
										</div>
										<div class="td">
											<p>{{schemes.fund_category}}</p>
										</div>
										<div class="td">
											<p><span class="currency">&#8377;</span><span class="amount">{{schemes.return_value}}</span></p>
										</div>
										<div class="td">
											<p>
												<div class="checkbox-cover text-center">
													<input type="checkbox" id="{{recommendedSchemes.goal_name}}{{eachRecommend.key}}{{schemes.fund_id}}" name="type" value="{{schemes.fund_id}}" ng-model="withdraw.all_units[recommendedSchemes.goal_id][schemes.fund_id]">
													<label for="{{recommendedSchemes.goal_name}}{{eachRecommend.key}}{{schemes.fund_id}}"><span></span></label>
												</div>
											</p>
										</div>
										<div class="td">
											<div class="input-cover">
												<span class="currency">&#8377;</span>
												<input format="number" ng-model="withdraw.amount[recommendedSchemes.goal_id][schemes.fund_id]" type="text" name="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tfooter">
							<div class="total">
								<p>Total Amount</p>
							</div>
							<div class="sipTotal">
								<p><span class="currency">&#8377;</span><span>93,200</span></p>
							</div>
							<div class="lumpSumTotal">
								<p><span class="currency">&#8377;</span><span>{{getTotal()}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="result-total" ng-show="$root.noWithdraw">You don't have suffecient funds to withdraw.</p>
	<p class="result-total">You will be recieving <span class="highlight"><span class="currency">&#8377;</span><span class="amount">0</span></span> as above.</p>
</section>
<div class="termsConditions">
	<div class="checkbox-cover">
        <input type="checkbox" id="terms" name="type" ng-model="termsChecked">
        <label for="terms"><span></span>I agree to the above withdrawal</label>
    </div>
</div>
<div class="fin-btn-group addMargin investStep1">
    <button click-redirect="/planInvest" class="fin-link-btn content-prev"><span><img src="assets/images/startedArrow.png"></span>CONTINUE PLANING</button>
    <!-- <button data-toggle="modal" data-target="#withdrawModal" class="fin-app-btn fin-orange">WITHDRAW NOW</button> -->
    <button ng-click="proceedWithdraw(withdraw)" class="fin-app-btn fin-orange" ng-disabled="!termsChecked">WITHDRAW NOW</button>

</div>
<div class="modal fade fade-scale" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="fadeIn modal-wrapper">
		    	<h4>The following schemes have a Future SIP:</h4>
		    	<div class="table-outer-cover withdrawModalTable" custom-scroll-bar>
					<div class="thead">
						<div class="tr">
							<div class="th">
								<p>Expected Corpus</p>
							</div>
							<div class="th">
								<p>Tenure(Years)</p>
							</div>
							<div class="th">
								<p>SIP</p>
							</div>
							<div class="th">
								<p>Lumpsum</p>
							</div>
						</div>
					</div>
					<div class="seperate-cover">
						<div class="tbody">
							<div class="tr">
								<div class="td">
									<p class="schemes">Kotal select Focus Growth</p>
								</div>
								<div class="td">
									<p>Large Cap</p>
								</div>
								<div class="td">
									<p><span class="currency">&#8377;</span><span>83,200</span></p>
								</div>
								<div class="td">
									<p>-</p>
								</div>
							</div>
							<div class="tr">
								<div class="td">
									<p class="schemes">Kotal select Focus Growth</p>
								</div>
								<div class="td">
									<p>Large Cap</p>
								</div>
								<div class="td">
									<p><span class="currency">&#8377;</span><span>83,200</span></p>
								</div>
								<div class="td">
									<p>-</p>
								</div>
							</div>
							<div class="tr">
								<div class="td">
									<p class="schemes">Kotal select Focus Growth</p>
								</div>
								<div class="td">
									<p>Large Cap</p>
								</div>
								<div class="td">
									<p><span class="currency">&#8377;</span><span>83,200</span></p>
								</div>
								<div class="td">
									<p>-</p>
								</div>
							</div>
							<div class="tr">
								<div class="td">
									<p class="schemes">Kotal select Focus Growth</p>
								</div>
								<div class="td">
									<p>Large Cap</p>
								</div>
								<div class="td">
									<p><span class="currency">&#8377;</span><span>83,200</span></p>
								</div>
								<div class="td">
									<p>-</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tfooter">
					<p>Would you like to cancel this?</p>
					<div class="fin-btn-group">
						<button class="fin-app-btn fin-orange">NO</button>
						<button class="fin-app-btn fin-orange">YES</button>
					</div>
				</div>
		    </div>
	    </div>
    </div>
</div>