<div class="col-xs-12">
	<div class="pull-left calendar-cover" ng-style="{'background-color':type}">
	<div ng-if="format = 'percent'" ng-style="{'color':fontColor}" class="format">%</div>
		<div class="calendar-body">
			<input ng-style="{'color':fontColor}" type="text" ng-model="model">
		</div>
		<div class="calendar-footer">
			<button ng-click="doDecrement()"><img src="assets/images/minus.png"></button>
			<button ng-click="doIncrement()"><img src="assets/images/plus.png"></button>
		</div>
	</div>
</div>