<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-wrapper">
        
        <header class="login-header">
            <div class="row">
                <div class="cloud1"><img src="assets/images/login_cloud1.png"></div>
                <div class="header-intro col-xs-12">
                    <div class="row">
                        <p class="pull-left" ng-bind-html="modalErrorMessage"></p>
                        <div class="plane pull-right"><img src="assets/images/loginPlane.png"></div>
                    </div>
                </div>
                <div class="cloud2"><img src="assets/images/login_cloud2.png"></div>
            </div>
        </header>
          
           <button class="fin-app-btn fin-orange" ng-click="confirmDeleteGoal(currentGoal)">Continue</button>
</div>
</div>
</div>

