<aside class="drawer">
  <div class="drawer-header">
    <div class="close-btn">
      <p class="close-value"><span class="text">CLOSE</span><span class="close-cover"><span class="bar1"></span><span class="bar2"></span></span></p>
    </div>
    <div class="list-cover">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Why Finaskus?</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
        <a href="#" class="fin-btn fin-start">GET STARTED NOW</a>
      </ul>
      <p class="registered">Already registered?</p>
      <p class="login">LOG IN NOW</p>
      <p class="copywrite"><span>Finaskus</span><span>&copy;</span><span>2016</span></p>
    </div>
  </div>
</aside>