<aside class="drawer">
  <div class="drawer-header">
    <div class="close-btn">
      <p class="close-value"><span class="text">CLOSE</span><span class="close-cover"><span class="bar1"></span><span class="bar2"></span></span></p>
    </div>
    <div class="list-cover">
      <ul id="accordion1" ng-if="!loggedIn">
        <li class="panel active"><a href="javascript:void(0)">Home</a></li>
        <li class="panel"><a href="javascript:void(0)">About Us</a></li>
        <li class="panel"><a href="javascript:void(0)">How It Works</a></li>
        <li class="panel"><a href="javascript:void(0)">Why Finaskus?</a></li>
        <li class="panel"><a href="javascript:void(0)">FAQ</a></li>
        <li class="panel"><a href="javascript:void(0)">Blog</a></li>
        <li class="panel"><a href="javascript:void(0)">Contact Us</a></li>
        <a href="javascript:void(0)" click-redirect="/gettingStarted" class="fin-btn fin-start">GET STARTED NOW</a>
      </ul>
      <ul id="accordion1" ng-if="loggedIn">
        <li class="panel active"><a href="javascript:void(0)">Dashboard</a></li>
        <li class="panel"><a href="javascript:void(0)">Risk Assessment</a></li>
        <li class="panel"><a href="javascript:void(0)" data-target="#secoundLink" data-toggle="collapse" data-parent="#accordion1">Build Financial Goals</a>
            <ul id="secoundLink" class="collapse secondLevel">
              <li><a href="javascript:void(0)">Retirement</a></li>
              <li><a href="javascript:void(0)">Education</a></li>
              <li><a href="javascript:void(0)">Tax Saving</a></li>
              <li><a href="javascript:void(0)">Property</a></li>
              <li><a href="javascript:void(0)">Wedding</a></li>
              <li><a href="javascript:void(0)">Automobile</a></li>
              <li><a href="javascript:void(0)">Other</a></li>
            </ul>
        </li>
        <li class="panel"><a href="javascript:void(0)">Build Smart Portfolio</a></li>        
        <li class="panel"><a href="javascript:void(0)">Track Performance</a></li>
        <li class="panel"><a href="javascript:void(0)" click-redirect="/registerInvestorStart">Investor Registration</a></li>
        <li class="panel"><a href="javascript:void(0)">Help?</a></li>
      </ul>
      <p class="copywrite"><span>Finaskus</span><span>&copy;</span><span>2016</span></p>
    </div>
  </div>
</aside>