<aside class="drawer">
  <div class="drawer-header">
    <div class="close-btn">
      <p class="close-value"><span class="text">CLOSE</span><span class="close-cover"><span class="bar1"></span><span class="bar2"></span></span></p>
    </div>
    <div class="list-cover">
      <ul id="accordion1" ng-if="!loggedIn">
        <li class="panel"><a href="javascript:void(0)">Home</a></li>
        <li class="panel"><a href="javascript:void(0)">About Us</a></li>
        <li class="panel"><a href="javascript:void(0)">How It Works</a></li>
        <li class="panel"><a href="javascript:void(0)">Why Finaskus?</a></li>
        <li class="panel"><a href="javascript:void(0)">FAQ</a></li>
        <li class="panel"><a href="javascript:void(0)">Blog</a></li>
        <li class="panel"><a href="javascript:void(0)">Contact Us</a></li>
        <a href="javascript:void(0)" click-redirect="/gettingStarted" class="fin-btn fin-start">GET STARTED NOW</a>
      </ul>
      <ul id="accordion1" ng-if="loggedIn">
        <li class="panel"><a href="javascript:void(0)" click-redirect="/dashboard">Dashboard</a></li>
        <li class="panel"><a href="javascript:void(0)" click-redirect="/riskAssesment">Risk Assessment</a></li>
        <li class="panel"><a href="javascript:void(0)" data-target="#secoundLink" data-toggle="collapse" data-parent="#accordion1">Build Financial Goals</a>
            <ul id="secoundLink" class="collapse secondLevel">
              <li><a href="javascript:void(0)" click-redirect="/retirementGoalsStarted">Retirement</a></li>
              <li><a href="javascript:void(0)" click-redirect="/educationStarted">Education</a></li>
              <li><a href="javascript:void(0)" click-redirect="/taxsavingStarted">Tax Saving</a></li>
              <li><a href="javascript:void(0)" click-redirect="/propertyStarted">Property</a></li>
              <li><a href="javascript:void(0)" click-redirect="/weddingStarted">Wedding</a></li>
              <li><a href="javascript:void(0)" click-redirect="/automobileStarted">Automobile</a></li>
              <li><a href="javascript:void(0)" click-redirect="/othersStarted">Other</a></li>
            </ul>
        </li>
        <li class="panel"><a href="javascript:void(0)" click-redirect="/investWithdrawStart">Invest/Withdraw</a></li>        
        <li class="panel"><a href="javascript:void(0)" click-redirect="/trackPerformanceStart">Track Performance</a></li>
        <li class="panel"><a href="javascript:void(0)" ng-if="$root.userFlags['user_flags']['process_choice']==='' || $root.userFlags['user_flags']['process_choice']==undefined" click-redirect="/registerInvestorStart">Investor Registration</a></li>
        <li class="panel"><a href="javascript:void(0)" ng-if="!($root.userFlags['user_flags']['vault']) && $root.userFlags['user_flags']['process_choice']==0" click-redirect="/registerInvestorInfo">Investor Registration</a></li>
        <li class="panel"><a href="javascript:void(0)" ng-if="($root.userFlags['user_flags']['vault'])" click-redirect="registerInvestorReview">Investor Registration</a></li>
        <li class="panel"><a href="javascript:void(0)">Help?</a></li>
      </ul>
      <p class="copywrite"><span>Finaskus</span><span>&copy;</span><span>2016</span></p>
    </div>
  </div>
</aside>