<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header col-xs-6 col-lg-2 col-md-2 col-sm-4">
          <a class="navbar-brand" href="javascript:void(0)" click-redirect="/"><img class="img img-responsive" src="assets/images/logo.png"></a>
        </div>
        <h1 ng-if="title" class="hidden-xs hidden-sm"><span class="mainTitle" ng-bind="title"></span><span class="nextline" ng-bind="subHeader" click-redirect="{{redirectURL}}"></span></h1>
          <ul class="nav navbar-nav navbar-right col-xs-4 col-lg-5 col-md-5 pull-right no-padding">
          <li class="pull-right"><a href="javascript:void(0)" class="fin-link menu">MENU <span class="menu-icon"></span></a></li>
            <li class="pull-right" ng-if="!menu && !loggedIn"><a href="javascript:void(0)" click-redirect="/" class="fin-link log-in">LOG IN</a></li>
            <li class="pull-right" ng-if="(!getStarted && !menu) && !loggedIn"><a click-redirect="/gettingStarted" href="javascript:void(0)" class="fin-btn start-btn">GET STARTED</a></li>
            <li class="pull-right" ng-if="(getStarted && !menu) && !loggedIn"><p>Already have an account?</p></li>
            
            <li ng-if="loggedIn" class="dropdown fin-dropdown pull-right text-right"><a href="javascript:void(0)" class="fin-link log-in" data-toggle="dropdown"><span class="label">Logged in as </span><span class="name" ng-bind="userDetails.user['name']" ng-if="(userDetails.user['name'] !='')"></span>
            <span class="name" ng-bind="userDetails.user['email']" ng-if="(userDetails.user['email'] !='')&&(userDetails.user['name'] =='')"></span><span class="up"></span><span class="down"></span></a>
              <ul class="fin-dropdown-menu">
                <li><a href="javascript:void(0)" click-redirect="/settings">Account Settings</a></li>
                <li><a href="javascript:void(0)" ng-click="userLogout()">Log Out</a></li>
              </ul>
            </li>
            
          </ul>
      </div>
    </nav>
</header>