<div class="panel-group customPanel" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
    	<div class="panel-title">
    		<p>Equity Schemes <span class="pull-right"><a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          EXPAND
        </a></span></p>
    	</div>
    	<div class="panel-description">
    		<div class="table-outer-cover panel-table">
				<div class="thead">
					<div class="tr">
						<div class="th">
							<p>% Holding</p>
						</div>
						<div class="th">
							<p>Invested Value</p>
						</div>
						<div class="th">
							<p>Current Value</p>
						</div>
						<div class="th">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tbody">
					<div class="tr">
						<div class="td">
							<p>25%</p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">10,03,138</span></p>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="percentage">10%</span></p>
								<p ng-if="false" class="loss types">( <span class="percentage">10%</span> )</p>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </div>
    <div id="collapseOne" accordian class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="table-outer-cover panel-table">
				<p class="schemes">DSP Black Rock Micro Cap Fund<span class="money-value">
					<span class="gain types">
					<span class="currency">&#8377;</span><span class="percentage">10,200</span></span>
				</span></p>
				<div class="tbody">
					<div class="tr">
						<div class="td">
							<p><span class="pie-circle" ng-style="{'background-color':'#047ac1'}"></span><span class="content">25%</span></p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">10,03,138</span></p>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="percentage">10%</span></p>
								<p ng-if="false" class="loss types">( <span class="percentage">10%</span> )</p>
							</div>
						</div>
					</div>
				</div>
			</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
    	<div class="panel-title">
    		<p>Equity Schemes <span class="pull-right"><a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          EXPAND
        </a></span></p>
    	</div>
    	<div class="panel-description">
    		<div class="table-outer-cover panel-table">
				<div class="thead">
					<div class="tr">
						<div class="th">
							<p>% Holding</p>
						</div>
						<div class="th">
							<p>Invested Value</p>
						</div>
						<div class="th">
							<p>Current Value</p>
						</div>
						<div class="th">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tbody">
					<div class="tr">
						<div class="td">
							<p>25%</p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">10,03,138</span></p>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="percentage">10%</span></p>
								<p ng-if="false" class="loss types">( <span class="percentage">10%</span> )</p>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </div>
    <div id="collapseTwo" accordian class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="table-outer-cover panel-table">
				<p class="schemes">DSP Black Rock Micro Cap Fund<span class="money-value">
					<span class="gain types">
					<span class="currency">&#8377;</span><span class="percentage">10,200</span></span>
				</span></p>
				<div class="tbody">
					<div class="tr">
						<div class="td">
							<p><span class="pie-circle" ng-style="{'background-color':'#047ac1'}"></span><span class="content">25%</span></p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">10,03,138</span></p>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="percentage">10%</span></p>
								<p ng-if="false" class="loss types">( <span class="percentage">10%</span> )</p>
							</div>
						</div>
					</div>
				</div>
			</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
    	<div class="panel-title">
    		<p>Equity Schemes <span class="pull-right"><a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          EXPAND
        </a></span></p>
    	</div>
    	<div class="panel-description">
    		<div class="table-outer-cover panel-table">
				<div class="thead">
					<div class="tr">
						<div class="th">
							<p>% Holding</p>
						</div>
						<div class="th">
							<p>Invested Value</p>
						</div>
						<div class="th">
							<p>Current Value</p>
						</div>
						<div class="th">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tbody">
					<div class="tr">
						<div class="td">
							<p>25%</p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">10,03,138</span></p>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="percentage">10%</span></p>
								<p ng-if="false" class="loss types">( <span class="percentage">10%</span> )</p>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </div>
    <div id="collapseThree" accordian class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="table-outer-cover panel-table">
				<p class="schemes">DSP Black Rock Micro Cap Fund<span class="money-value">
					<span class="gain types">
					<span class="currency">&#8377;</span><span class="percentage">10,200</span></span>
				</span></p>
				<div class="tbody">
					<div class="tr">
						<div class="td">
							<p><span class="pie-circle" ng-style="{'background-color':'#047ac1'}"></span><span class="content">25%</span></p>
						</div>
						<div class="td">
							<p><span class="currency">&#8377;</span><span class="amount">10,03,138</span></p>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="currency">&#8377;</span><span class="percentage">10,200</span></p>
								<p ng-if="false" class="loss types">( <span class="currency">&#8377;</span><span class="percentage">10,200</span> )</p>
							</div>
						</div>
						<div class="td">
							<div class="money-value">
								<p class="gain types">
								<span class="percentage">10%</span></p>
								<p ng-if="false" class="loss types">( <span class="percentage">10%</span> )</p>
							</div>
						</div>
					</div>
				</div>
			</div>
      </div>
    </div>
  </div>
</div>



<div class="table-outer-cover schemeTable">
	<div class="thead">
		<div class="tr">
			<div class="th">
				<p>Equity Schemes</p>
			</div>
			<div class="th">
				<p>Sub Type</p>
			</div>
			<div class="th">
				<p>SIP</p>
			</div>
			<div class="th">
				<p>Lumpsum</p>
			</div>
		</div>
	</div>
	<div class="tbody">
		<div class="tr">
			<div class="td">
				<p class="schemes">Kotal select Focus Growth</p>
			</div>
			<div class="td">
				<p>Large Cap</p>
			</div>
			<div class="td">
				<p><span class="currency">&#8377;</span>83,200</p>
			</div>
			<div class="td">
				<p><span class="currency">&#8377;</span>93,200</p>
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<p class="schemes">SBI BlueChip Fund Regular Growth</p>
			</div>
			<div class="td">
				<p>Large Cap</p>
			</div>
			<div class="td">
				<p><span class="currency">&#8377;</span>83,200</p>
			</div>
			<div class="td">
				<p><span class="currency">&#8377;</span>93,200</p>
			</div>
		</div>
	</div>
	<div class="tfooter">
		<div class="fin-btn-group">
			<button class="fin-app-btn fin-orange">COMPARE & MODIFY</button>
		</div>
	</div>
</div>







<div class="col-xs-12">
	<div class="col-xs-2">
		<fin-calendar-form ng-model="equity" format="percent" type="blue" min="0" max="100"></fin-calendar-form>
	</div>
	<div class="col-xs-2 calendar-divider"><span></span></div>
	<div class="col-xs-2">
		<fin-calendar-form ng-model="equity2" format="percent" type="red" min="0" max="50"></fin-calendar-form>
	</div>
</div>

<select dropdown ng-model="selectedValue" ng-init="selectedValue = 'Male'">
    <option value="Male">Married with kids</option>
    <option value="aye">Aye</option>
    <option value="eh">Eh</option>
    <option value="ooh">Ooh</option>
    <option value="whoop">Whoop</option>
</select>
<div class="col-xs-4">
	<div class="meter-widget-cover">
		<div class="col-xs-12 meter-header">
			<button class="edit"></button>
			<div class="row">
				<div class="col-xs-6 text-right">
					<h2 class="debt">Debt</h2>
					<p class="debt">0%</p>
					<h4 ><span class="currency">&#8377</span>0</h4>
				</div>
				<div class="col-xs-6 text-left">
					<h2 class="equity">Equity</h2>
					<p class="equity">100%</p>
					<h4><span class="currency">&#8377</span>5000</h4>
				</div>
			</div>
		</div>
		<div class="guage clearfix" one-time-equity="20%" calculate-guage="80%">
			<h4 class="text">Recommended</h4>
			<div class="orbit">
				<div class="indicator"></div>
			</div>	
			<div class="guage-image">
				<img src="assets/images/guage.png">
				<div class="meater-cover"></div>
				<div class="pointer">
					<img src="assets/images/pointer.png">
				</div>
			</div>
			<div class="box-indicator col-xs-12">
				<div class="row">
					<div class="col-xs-4 text-left">
						<div class="row">
							<div class="checkbox-cover">
								<input type="radio" name="type">
								<label><span></span></label>
							</div>
						</div>
					</div>
					<div class="col-xs-4 text-center">
						<div class="checkbox-cover">
							<input ng-checked="true" type="radio" name="type">
							<label><span></span></label>
						</div>
					</div>
					<div class="col-xs-4 text-right">
						<div class="row">
							<div class="checkbox-cover">
								<input type="radio" name="type">
								<label><span></span></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="guageCalculator">
				<img src="assets/images/guageCalculator.png">
			</div>	
			<p class="bottom-text">As per your risk profile</p>
		</div>
	</div>
</div>

<div class="modal fade fade-scale" id="equiDeptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="fadeIn modal-wrapper">
		<button data-dismiss="modal" class="modal-close"></button>
			<div class="col-xs-12">
				<div class="col-xs-6">
					<h2 ng-style="{'color':'#62bb46'}" class="text-center">Debt</h2>
					<fin-calendar-form ng-model="equity" format="percent" type="#ddffd3" font-color="#62bb46" min="0" max="100"></fin-calendar-form>
				</div>
				<div class="col-xs-6">
					<h2 ng-style="{'color':'#047bc1'}" class="text-center">Equity</h2>
					<fin-calendar-form font-color="#047bc1" ng-model="equity2" format="percent" type="#e6f6ff" min="0" max="50"></fin-calendar-form>
				</div>
			</div>
			<div class="col-xs-12 bottom-desc">
				<p><span class="bottom-label">Amount in Debt:</span><span class="amount-cover less"><span class="currency">&#8377</span><span class="amount">800</span></span></p>
				<p><span class="bottom-label">Amount in Equity:</span><span class="amount-cover"><span class="currency">&#8377</span><span ng-bind="equityValue|currency:''"></span><span class="amount">1250</span></p>
				<p class="note" ng-if="false">Note: Investment in Debt and Equity funds below minimum limit <span class="currency">&#8377</span><span class="amount"><span class="amount">1000</span></span></p>
				<p class="note" ng-if="true">Note: Investment in Debt funds below minimum limit <span class="currency">&#8377</span><span class="amount">1000</span></p>
				<p class="note" ng-if="false">Note: Investment in Equity funds below minimum limit <span class="currency">&#8377</span><span class="amount">1000</span></p>
				<button class="fin-app-btn fin-orange" click-redirect="/quickInvest">SAVE MIX</button>
			</div>
		</div>
    </div>
  </div>
</div>

<show-tip quick-tip-data="[{'tip':'Amount invested in ELSS schemes will have a lock-in period of 3 years'},{'tip':'Investment in ELSS schemes can be deemed towards a 3-year financial goal, or even for long term wealth building.'}]"></show-tip>

<info-tip quick-tip-data="[{'tip':'Amount invested in ELSS schemes will have a lock-in period of 3 years'}]" info-width="48px" style="margin-top:-60px"></info-tip>

<div class="testSCroll" ng-scrollbars>
	<div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div>
	<div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div><div class="main">
	<p>dsfdskgfjdshgfdsgfjgdsfhd</p>
	</div>
</div>

<input type="text" class="datepicker" placeholder="DD/MM/YYYY" data-datepicker="{theme: 'flat',dateformat: 'DD/MM/YYYY'}" data-ng-model="value1">


